Repository tensorflow/tensorboard, pull requests merged in 2018-04, with the labels that each got.

#1091 Write tests for io_wrapper
  tensorboard/backend/event_processing/BUILD
  tensorboard/backend/event_processing/io_wrapper_test.py
Labels: core:backend

#1090 Roll forward some Polymer dependencies
  third_party/polymer.bzl
Labels: core:frontend

#1098 Let developer set rank direction for graph
  tensorboard/plugins/graph/tf_graph_common/externs.ts
  tensorboard/plugins/graph/tf_graph_common/graph.ts
  tensorboard/plugins/graph/tf_graph_common/hierarchy.ts
  tensorboard/plugins/graph/tf_graph_common/render.ts
  tensorboard/plugins/graph/tf_graph_loader/tf-graph-loader.html
Labels: plugin:graph

#1087 Find runs by glob-ing levels of subdirectories
  tensorboard/backend/event_processing/BUILD
  tensorboard/backend/event_processing/directory_watcher_test.py
  tensorboard/backend/event_processing/event_accumulator.py
  tensorboard/backend/event_processing/event_file_inspector.py
  tensorboard/backend/event_processing/event_multiplexer.py
  tensorboard/backend/event_processing/io_wrapper.py
  tensorboard/backend/event_processing/io_wrapper_test.py
  tensorboard/backend/event_processing/plugin_event_accumulator.py
  tensorboard/backend/event_processing/plugin_event_multiplexer.py
Labels: core:backend

#1105 Always reload multiplexer on thread.
  tensorboard/backend/application.py
  tensorboard/plugins/audio/audio_plugin_test.py
  tensorboard/plugins/image/images_plugin_test.py
Labels: core:backend

#1130 Let user search nodes by regex
  tensorboard/plugins/graph/tf_graph_app/tf-graph-app.html
  tensorboard/plugins/graph/tf_graph_controls/BUILD
  tensorboard/plugins/graph/tf_graph_controls/tf-graph-controls.html
  tensorboard/plugins/graph/tf_graph_dashboard/tf-graph-dashboard.html
  tensorboard/plugins/graph/tf_graph_node_search/BUILD
  tensorboard/plugins/graph/tf_graph_node_search/tf-graph-node-search.html
Labels: plugin:graph

#1020 Generalize logic for computing series nodes
  tensorboard/plugins/graph/tf_graph_common/hierarchy.ts
  tensorboard/plugins/graph/tf_graph_loader/tf-graph-loader.html
Labels: plugin:graph

#1104 Reload runs with multiple (1 by default - per status quo) threads
  tensorboard/backend/application.py
  tensorboard/backend/event_processing/BUILD
  tensorboard/backend/event_processing/plugin_event_multiplexer.py
  tensorboard/backend/event_processing/plugin_event_multiplexer_test.py
  tensorboard/program.py
Labels: core:backend

#1132 Make pr_curves_demo manually implement clip
  tensorboard/plugins/pr_curve/pr_curve_demo.py
Labels: plugin:pr-curves

#1131 [Debugger Plugin] Fix a bug in handling string scalar
  tensorboard/plugins/debugger/tensor_helper.py
  tensorboard/plugins/debugger/tensor_helper_test.py
Labels: plugin:debugger

#1150 Use tf.clip_by_value again in PR curves demo
  tensorboard/plugins/pr_curve/pr_curve_demo.py
Labels: plugin:pr-curves

#1148 [Beholder plugin] use different summary key to avoid merging with the other summaries
  tensorboard/plugins/beholder/beholder.py
  tensorboard/plugins/beholder/shared_config.py
Labels: plugin:beholder
