Repository tensorflow/tensorboard, pull requests merged in 2018-12, with the labels that each got.

#1653 test: add `tf_web_test` Starlark macro
  tensorboard/components/vz_sorting/test/BUILD
  tensorboard/defs/BUILD
  tensorboard/defs/web.bzl
  tensorboard/defs/web_test_python_stub.template.py
Labels: type:build/install

#1661 build: fix Bazel 0.20.0 compatibility issues
  .travis.yml
  WORKSPACE
  tensorboard/defs/web_testing.bzl
  tensorboard/functionaltests/browsers/BUILD
  tensorboard/functionaltests/browsers/chromium.json
  third_party/chromium/BUILD
  third_party/js.bzl
  third_party/python.bzl
  third_party/urllib3.BUILD
  third_party/workspace.bzl
Labels: type:build/install

#1692 Remove reporting of the batch size from the overview page.
  tensorboard/plugins/profile/overview_page/overview-page.html
Labels: cla: yes

#1694 Post 1.12.1 release
  RELEASE.md
Labels: cla: yes

#1672 Model comparison v2
  tensorboard/plugins/interactive_inference/interactive_inference_plugin.py
  tensorboard/plugins/interactive_inference/interactive_inference_plugin_test.py
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-age-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-image-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-iris-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-multi-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
  tensorboard/plugins/interactive_inference/utils/inference_utils.py
  tensorboard/plugins/interactive_inference/utils/inference_utils_test.py
Labels: plugin:what-if-tool, type:feature

#1707 Allow passing --no-smoke to build_pip_package to skip smoke testing
  tensorboard/pip_package/build_pip_package.sh
Labels: type:build/install

#1717 test: add Travis test for “DO NOT SUBMIT” in files
  .travis.yml
  tensorboard/tools/do_not_submit_test.sh
Labels: type:build/install
