Repository tensorflow/tensorboard, pull requests merged in 2018-05, with the labels that each got.

#1165 Update FAQ for TensorBoard not showing data
  README.md
Labels: type:docs

#1114 Remove expensive plugin initialization code
  tensorboard/plugins/beholder/BUILD
  tensorboard/plugins/beholder/beholder_plugin.py
  tensorboard/plugins/beholder/im_util.py
  tensorboard/util.py
Labels: plugin:beholder

#1215 populate host in data request, so the server can filter based on host.
  tensorboard/plugins/profile/profile_plugin.py
Labels: plugin:profile
