Repository tensorflow/tensorboard, pull requests merged in 2018-03, with the labels that each got.

#1014 Two fixes to debugger plugin
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-debugger-continue-dialog.html
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-debugger-dashboard.html
Labels: plugin:debugger

#1017 [Debugger Plugin] Remove "Refresh" Button from Value Cards
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-tensor-value-view.html
Labels: plugin:debugger

#1023 [Debugger Plugin] Tensor Value Card UI Improvements
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-debugger-dashboard.html
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-tensor-value-multi-view.html
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-tensor-value-view.html
Labels: plugin:debugger

#1026 Let health pill label indicate NaN/Infs more saliently
  tensorboard/plugins/graph/tf_graph_common/scene.ts
Labels: plugin:debugger, plugin:graph

#1029 [Debugger Plugin] Minor syntax fix in README.md
  tensorboard/plugins/debugger/README.md
Labels: plugin:debugger

#1022 Change histogram SQL query to use linspaced sampling
  tensorboard/plugins/distribution/distributions_plugin.py
  tensorboard/plugins/histogram/histograms_plugin.py
Labels: plugin:histogram

#1031 [Debugger Plugin] Add code example for Keras.
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-debugger-initial-dialog.html
Labels: plugin:debugger

#1025 Add SQLite support to images plugin
  tensorboard/plugins/image/images_plugin.py
Labels: plugin:images

#1033 Create vz_chart_helpers component
  tensorboard/components/vz_chart_helpers/BUILD
  tensorboard/components/vz_chart_helpers/vz-chart-helpers.html
  tensorboard/components/vz_chart_helpers/vz-chart-helpers.ts
  tensorboard/components/vz_line_chart/BUILD
  tensorboard/components/vz_line_chart/vz-line-chart.html
  tensorboard/components/vz_line_chart/vz-line-chart.ts
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-helpers.ts
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-margin-chart-card.html
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-multi-line-chart-card.html
  tensorboard/plugins/distribution/vz_distribution_chart/BUILD
  tensorboard/plugins/distribution/vz_distribution_chart/vz-distribution-chart.html
  tensorboard/plugins/distribution/vz_distribution_chart/vz-distribution-chart.ts
  tensorboard/plugins/scalar/tf_scalar_dashboard/tf-scalar-dashboard.html
Labels: core:frontend

#1037 Create vz_bar_chart component
  tensorboard/components/vz_bar_chart/BUILD
  tensorboard/components/vz_bar_chart/vz-bar-chart.html
  tensorboard/components/vz_bar_chart/vz-bar-chart.ts
  tensorboard/components/vz_chart_helpers/vz-chart-helpers.ts
  tensorboard/components/vz_line_chart/vz-line-chart.ts
Labels: core:frontend

#1038 [Debugger Plugin] Fix session run list UI
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-debugger-dashboard.html
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-session-runs-view.html
Labels: plugin:debugger

#1045 Fix lint issues within beholder demo
  tensorboard/plugins/beholder/demos/demo/demo.py
Labels: plugin:beholder

#1044 Beholder build structure refactoring
  tensorboard/plugins/beholder/BUILD
  tensorboard/plugins/beholder/beholder_demo.py
  tensorboard/plugins/beholder/beholder_plugin.py
  tensorboard/plugins/beholder/demos/demo/BUILD
  tensorboard/plugins/beholder/demos/demo/__init__.py
Labels: plugin:beholder

#1021 Make text plugin's is_active method check for data in multiplexer first before checking plugin assets.
  tensorboard/plugins/text/text_plugin.py
  tensorboard/plugins/text/text_plugin_test.py
Labels: plugin:text

#1043 [Debugger Plugin] Fix a python-3 bug
  tensorboard/plugins/debugger/interactive_debugger_plugin_test.py
  tensorboard/plugins/debugger/interactive_debugger_server_lib.py
Labels: plugin:debugger

#1048 [Debugger Plugin] Remove cruft
  tensorboard/plugins/debugger/interactive_debugger_server_lib.py
Labels: plugin:debugger

#1046 Reimplement video writing support in Beholder
  tensorboard/plugins/beholder/beholder.py
  tensorboard/plugins/beholder/video_writing.py
Labels: plugin:beholder

#1052 Make "from tensorboard.plugins.beholder import Beholder" work
  tensorboard/pip_package/BUILD
  tensorboard/pip_package/pip_smoke_test.sh
  tensorboard/plugins/beholder/BUILD
  tensorboard/plugins/beholder/__init__.py
  tensorboard/plugins/beholder/beholder.py
  tensorboard/plugins/beholder/beholder_demo.py
Labels: plugin:beholder

#1053 Make streaming_op for PR curves use tf.group.
  tensorboard/plugins/pr_curve/summary.py
  tensorboard/plugins/pr_curve/summary_test.py
Labels: plugin:pr-curves

#1054 Fix frontend logic to use vz_chart_helpers module
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-margin-chart-card.html
  tensorboard/plugins/pr_curve/tf_pr_curve_dashboard/tf-pr-curve-card.html
  tensorboard/plugins/scalar/tf_scalar_dashboard/tf-scalar-card.html
Labels: plugin:pr-curves

#1061 Remove loop by default from audio summary.
  tensorboard/plugins/audio/tf_audio_dashboard/tf-audio-loader.html
Labels: plugin:audio

#1057 Fix Debugger disabled dialog rendering logic
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-debugger-dashboard.html
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-debugger-initial-dialog.html
Labels: plugin:debugger

#1055 Create Beholder README.md and update docs
  tensorboard/plugins/beholder/README.md
  tensorboard/plugins/beholder/beholder.py
  tensorboard/plugins/beholder/beholder_demo.py
  tensorboard/plugins/beholder/docs/array_1d.png
  tensorboard/plugins/beholder/docs/array_2d.png
  tensorboard/plugins/beholder/docs/array_4d.png
  tensorboard/plugins/beholder/docs/array_4d_activations.png
  tensorboard/plugins/beholder/docs/beholder.png
  tensorboard/plugins/beholder/docs/controls.png
  tensorboard/plugins/beholder/tf_beholder_dashboard/tf-beholder-dashboard.html
Labels: plugin:beholder

#1070 Make Beholder fail gracefully on non-writable config file
  tensorboard/plugins/beholder/README.md
  tensorboard/plugins/beholder/beholder_plugin.py
  tensorboard/plugins/beholder/file_system_tools.py
  tensorboard/plugins/beholder/tf_beholder_dashboard/tf-beholder-dashboard.html
Labels: plugin:beholder

#1079 Revert Beholder FPS slider to allow setting to 0
  tensorboard/plugins/beholder/tf_beholder_dashboard/tf-beholder-dashboard.html
  tensorboard/plugins/beholder/tf_beholder_dashboard/tf-beholder-info.html
  tensorboard/plugins/beholder/tf_beholder_dashboard/tf-beholder-video.html
Labels: plugin:beholder

#1078 Check for content of lists within text_plugin_test
  tensorboard/plugins/text/text_plugin_test.py
Labels: plugin:text

#1056 Make PR curves plugin work in SQL mode
  tensorboard/plugins/pr_curve/BUILD
  tensorboard/plugins/pr_curve/pr_curves_plugin.py
  tensorboard/plugins/pr_curve/pr_curves_plugin_test.py
Labels: plugin:pr-curves

#972 Initial version of hparams plugin
  tensorboard/plugins/hparams/BUILD
  tensorboard/plugins/hparams/__init__.py
  tensorboard/plugins/hparams/api.proto
  tensorboard/plugins/hparams/hparams_demo.py
  tensorboard/plugins/hparams/http_api.md
  tensorboard/plugins/hparams/metadata.py
  tensorboard/plugins/hparams/plugin_data.proto
  tensorboard/plugins/hparams/summary.py
Labels: plugin:hparams, type:feature (new plugin)

#1082 Count regular edges while picking metaedge.
  tensorboard/plugins/graph/tf_graph_common/render.ts
Labels: plugin:graph

#1085 Store colormaps in python
  tensorboard/plugins/beholder/BUILD
  tensorboard/plugins/beholder/colormaps.py
  tensorboard/plugins/beholder/colormaps_test.py
  tensorboard/plugins/beholder/file_system_tools.py
  tensorboard/plugins/beholder/im_util.py
  tensorboard/plugins/beholder/resources/colormaps.npy
Labels: plugin:beholder
