Repository tensorflow/tensorboard, pull requests merged in 2018-11, with the labels that each got.

#1610 graph: fix “Download PNG” for large images
  tensorboard/plugins/graph/tf_graph_common/minimap.ts
Labels: plugin:graph, type:bug/performance

#1604 Add global partial dependence plots to What-If Tool
  tensorboard/plugins/interactive_inference/interactive_inference_plugin.py
  tensorboard/plugins/interactive_inference/interactive_inference_plugin_test.py
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-age-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-image-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-iris-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/tf-interactive-inference-multi-demo.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-inference-panel.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
  tensorboard/plugins/interactive_inference/utils/inference_utils.py
  tensorboard/plugins/interactive_inference/utils/inference_utils_test.py
Labels: plugin:what-if-tool, type:feature

#1615 test: add infra for running WCT tests
  tensorboard/components/vz_sorting/test/BUILD
  tensorboard/components/vz_sorting/test/test.py
  tensorboard/functionaltests/BUILD
  tensorboard/functionaltests/wct_test_driver.py
Labels: type:build/install
