Repository tensorflow/tensorboard, pull requests merged in 2018-02, with the labels that each got.

#967 Let user know which tags are missing per run
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-margin-chart-card.html
Labels: plugin:custom-scalars

#973 Fix a typo in op_profile details
  tensorboard/plugins/profile/tf_op_profile/tf-op-details.html
Labels: plugin:profile

#970 Makes the back button work across tensorboard index (/) landing page
  tensorboard/components/tf_storage/storage.ts
  tensorboard/components/tf_tensorboard/tf-tensorboard.html
Labels: core:frontend

#977 Make debugger plugin's grpc ImportError handling work on py3
  tensorboard/plugins/debugger/debugger_plugin_loader.py
Labels: plugin:debugger

#961 Add /data/environment route
  tensorboard/backend/application.py
  tensorboard/backend/application_test.py
  tensorboard/plugins/base_plugin.py
  tensorboard/plugins/core/BUILD
  tensorboard/plugins/core/core_plugin.py
  tensorboard/plugins/core/core_plugin_test.py
  tensorboard/plugins/text/text_plugin_test.py
Labels: core:backend

#975 [Debugger Plugin] Exit TensorBoard on SIGINT even with debugger enabled
  tensorboard/plugins/debugger/README.md
  tensorboard/plugins/debugger/interactive_debugger_plugin.py
  tensorboard/plugins/debugger/interactive_debugger_server_lib.py
Labels: plugin:debugger

#986 Fix SQL syntax errors in scalars plugin
  tensorboard/plugins/scalar/scalars_plugin.py
Labels: plugin:scalars

#987 Make frontend use /data/environment route
  tensorboard/components/tf_backend/router.ts
  tensorboard/components/tf_runs_selector/tf-runs-selector.html
  tensorboard/components/tf_tensorboard/tf-tensorboard.html
Labels: core:frontend

#988 Remove logic for creating tables
  tensorboard/backend/application.py
Labels: core:backend

#985 Serve list of runs in database mode
  tensorboard/plugins/core/BUILD
  tensorboard/plugins/core/core_plugin.py
  tensorboard/plugins/core/core_plugin_test.py
Labels: core:backend

#995 Convert LEFT JOINs to JOINs within scalars plugin
  tensorboard/plugins/scalar/scalars_plugin.py
Labels: plugin:scalars

#989 Make histogram plugin work in SQL mode
  tensorboard/plugins/histogram/BUILD
  tensorboard/plugins/histogram/histograms_plugin.py
Labels: plugin:histogram

#999 Obtain window title from /data/environment route
  tensorboard/components/tf_backend/router.ts
  tensorboard/components/tf_tensorboard/tf-tensorboard.html
Labels: core:frontend

#998 Fix font mismatch in custom scalars dashboard
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-dashboard.html
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-margin-chart-card.html
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-multi-line-chart-card.html
Labels: plugin:custom-scalars

#1010 Prevent content from intruding into sidebar
  tensorboard/components/tf_dashboard_common/dashboard-style.html
  tensorboard/components/tf_dashboard_common/tf-dashboard-layout.html
Labels: core:frontend
