Repository tensorflow/tensorboard, pull requests merged in 2018-07, with the labels that each got.

#1273 Fix raw sources mode for full frontend component
  tensorboard/components/tf_tensorboard/BUILD
  tensorboard/components/tf_tensorboard/tf-tensorboard.html
Labels: core:frontend

#1280 Fix memory viewer due to minor compiler changes.
  tensorboard/plugins/profile/memory_viewer/buffer_details/buffer-details.html
  tensorboard/plugins/profile/memory_viewer/utils/utils.ts
  tensorboard/plugins/profile/memory_viewer/xla/shape.ts
Labels: plugin:profile

#1281 Expose experiments in db via /data/experiments
  tensorboard/http_api.md
  tensorboard/plugins/core/core_plugin.py
  tensorboard/plugins/core/core_plugin_test.py
Labels: core:backend

#1262 Fix reverse order of w & h
  tensorboard/plugins/image/images_plugin_test.py
  tensorboard/plugins/image/summary.py
  tensorboard/plugins/image/summary_test.py
Labels: plugin:images

#1294 Fix custom_scalar displaying duplicated charts
  tensorboard/plugins/custom_scalar/custom_scalars_plugin.py
  tensorboard/plugins/custom_scalar/custom_scalars_plugin_test.py
Labels: plugin:custom-scalars

#1303 Remove inconsistent custom scalars center-div styling
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-dashboard.html
Labels: plugin:custom-scalars
