Repository tensorflow/tensorboard, pull requests merged in 2019-05, with the labels that each got.

#2169 Initial Mesh Visualizer plugin (client side)
  tensorboard/components/tf_imports/BUILD
  tensorboard/components/tf_imports/tf_graphics_lib.html
  tensorboard/components/tf_tensorboard/BUILD
  tensorboard/components/tf_tensorboard/default-plugins.html
  tensorboard/plugins/mesh_visualizer/tf_mesh_dashboard/BUILD
  tensorboard/plugins/mesh_visualizer/tf_mesh_dashboard/mesh-loader.js
  tensorboard/plugins/mesh_visualizer/tf_mesh_dashboard/tf-mesh-dashboard.html
  tensorboard/plugins/mesh_visualizer/tf_mesh_dashboard/tf-mesh-loader.html
  third_party/js.bzl
Labels: plugin:mesh

#2174 hparams: add (mostly-)notf `hparams_config_pb`
  tensorboard/plugins/hparams/BUILD
  tensorboard/plugins/hparams/summary_v2.py
  tensorboard/plugins/hparams/summary_v2_test.py
Labels: plugin:hparams

#2179 Add workers list to tpu profiler
  tensorboard/plugins/profile/profile_plugin.py
Labels: plugin:profile

#2182 hparams: expose `hparams_config_pb` from `api`
  tensorboard/plugins/hparams/api.py
Labels: plugin:hparams

#2180 docs: fix more trailing whitespace in `%load_ext`s
  docs/r2/hyperparameter_tuning_with_hparams.ipynb
  docs/r2/tensorboard_in_notebooks.ipynb
Labels: type:docs

#2187 Add docstring to tensorboard_js_workspace
  third_party/js.bzl
Labels: type:cleanup

#2189 hparams: add `api` and `summary_v2` to Pip package
  tensorboard/pip_package/BUILD
  tensorboard/plugins/hparams/BUILD
Labels: plugin:hparams, type:build/install

#2168 TensorFlow-Graphics Mesh Visualization Plugin (server side)
  tensorboard/plugins/mesh/BUILD
  tensorboard/plugins/mesh/__init__.py
  tensorboard/plugins/mesh/http_api.md
  tensorboard/plugins/mesh/mesh_plugin.py
  tensorboard/plugins/mesh/mesh_plugin_test.py
  tensorboard/plugins/mesh/metadata.py
  tensorboard/plugins/mesh/metadata_test.py
  tensorboard/plugins/mesh/plugin_data.proto
  tensorboard/plugins/mesh/summary.py
  tensorboard/plugins/mesh/summary_test.py
  tensorboard/plugins/mesh/test_utils.py
Labels: plugin:mesh

#2193 Enable mesh plugin as one of default plugin
  tensorboard/BUILD
  tensorboard/default.py
Labels: plugin:mesh

#2197 Fix mesh visualizer
  tensorboard/plugins/mesh_visualizer/tf_mesh_dashboard/mesh-loader.js
  tensorboard/plugins/mesh_visualizer/tf_mesh_dashboard/tf-mesh-dashboard.html
Labels: plugin:mesh

#2147 Profiler tutorial
  docs/_book.yaml
  docs/r2/images/profiler-blocking-runtime.png
  docs/r2/images/profiler-capture.png
  docs/r2/images/profiler-download-logdir.png
  docs/r2/images/profiler-idle-gpu.png
  docs/r2/images/profiler-input-cpu.png
  docs/r2/images/profiler-notebook-settings.png
  docs/r2/images/profiler-prefetch-runtime.png
  docs/r2/images/profiler-trace-viewer-select.png
  docs/r2/images/profiler-trace-viewer.png
  docs/r2/tensorboard_profiling_keras.ipynb
Labels: plugin:profile

#2201 docs: update `import_event` in hparams tutorial
  docs/r2/hyperparameter_tuning_with_hparams.ipynb
Labels: type:docs

#2188 hparams: add hparam writing for non-Keras users
  tensorboard/plugins/hparams/api.py
  tensorboard/plugins/hparams/keras.py
  tensorboard/plugins/hparams/keras_test.py
  tensorboard/plugins/hparams/summary_v2.py
  tensorboard/plugins/hparams/summary_v2_test.py
Labels: plugin:hparams, type:feature

#2205 Add mesh summary in the pip package
  tensorboard/pip_package/BUILD
  tensorboard/pip_package/build_pip_package.sh
Labels: plugin:mesh

#2140 hparams: add docstring describing public API
  tensorboard/plugins/hparams/api.py
Labels: plugin:hparams, type:docs

#2208 mesh: explictly define public API, for consistency
  tensorboard/pip_package/BUILD
  tensorboard/plugins/mesh/BUILD
Labels: plugin:mesh, type:cleanup

#2217 test: skip V1-only tests under TF2 behavior
  tensorboard/util/test_util.py
Labels: type:build/install

#2207 hparams: update tutorial to use new APIs
  docs/r2/hyperparameter_tuning_with_hparams.ipynb
  docs/r2/images/hparams_table.png
Labels: plugin:hparams, type:docs

#2213 hparams: avoid TensorFlow dependency in summary_v2
  tensorboard/pip_package/build_pip_package.sh
  tensorboard/plugins/hparams/BUILD
  tensorboard/plugins/hparams/metadata.py
  tensorboard/plugins/hparams/summary.py
  tensorboard/plugins/hparams/summary_v2.py
  tensorboard/plugins/hparams/summary_v2_test.py
Labels: plugin:hparams

#2202 hparams: manually flush writer in graph mode tests
  tensorboard/plugins/hparams/summary_v2_test.py
Labels: plugin:hparams

#2218 profile: standardize tutorial style
  docs/_book.yaml
  docs/r2/tensorboard_profiling_keras.ipynb
Labels: plugin:profile, type:docs

#2216 Move What-If Tool into an iframe in Jupyter widget
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
  tensorboard/plugins/interactive_inference/witwidget/notebook/jupyter/js/lib/wit.js
Labels: plugin:what-if-tool

#2194 Enable WitWidget for AI Platform including xgboost models
  tensorboard/plugins/interactive_inference/README.md
  tensorboard/plugins/interactive_inference/witwidget/notebook/base.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/visualization.py
Labels: plugin:what-if-tool

#2192 Allow WitWidget example changing
  tensorboard/plugins/interactive_inference/witwidget/notebook/base.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/colab/wit.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/jupyter/wit.py
  tensorboard/plugins/interactive_inference/witwidget/version.py
Labels: plugin:what-if-tool

#2232 graph: Fix JSE when switching node selection
  tensorboard/plugins/graph/tf_graph_info/tf-node-info.html
Labels: plugin:graph

#2235 hparams: account for proto nondeterminism in tests
  tensorboard/plugins/hparams/summary_v2_test.py
Labels: plugin:hparams, type:build/install

#2211 pip: fix smoke test double-TensorBoard dependency
  tensorboard/pip_package/build_pip_package.sh
Labels: type:bug/performance, type:build/install

#2243 Fix build for Bazel 0.25
  WORKSPACE
  tensorboard/plugins/mesh/BUILD
Labels: type:build/install

#2245 build: use `mirror.tensorflow.org`, now populated
  .travis.yml
  WORKSPACE
  tensorboard/tools/import_google_fonts.py
  third_party/fonts.bzl
  third_party/js.bzl
  third_party/polymer.bzl
  third_party/python.bzl
  third_party/typings.bzl
  third_party/workspace.bzl
Labels: type:build/install

#2199 Cleanup: move content from mesh_visualizer to mesh
  tensorboard/components/tf_tensorboard/BUILD
  tensorboard/plugins/mesh/tf_mesh_dashboard/BUILD
  tensorboard/plugins/mesh/tf_mesh_dashboard/mesh-loader.js
  tensorboard/plugins/mesh/tf_mesh_dashboard/tf-mesh-dashboard.html
  tensorboard/plugins/mesh/tf_mesh_dashboard/tf-mesh-loader.html
Labels: plugin:mesh

#2258 hparams: fix demo (remove `group_name` argument)
  tensorboard/plugins/hparams/hparams_demo.py
Labels: plugin:hparams, type:bug/performance

#2267 build: fix forward to Bazel 0.26
  WORKSPACE
  tensorboard/components/vz_example_viewer/vz-example-viewer.ts
  tensorboard/defs/hacks.bzl
  tensorboard/defs/vulcanize.bzl
  tensorboard/defs/web.bzl
  tensorboard/defs/zipper.bzl
  tensorboard/java/org/tensorflow/tensorboard/vulcanize/Vulcanize.java
  third_party/clutz.BUILD
  third_party/js.bzl
  third_party/workspace.bzl
Labels: type:build/install

#2268 Add ability to customize examples for custom AI platform models
  tensorboard/plugins/interactive_inference/witwidget/notebook/base.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/visualization.py
Labels: plugin:what-if-tool

#2266 vz-example-viewer: fix int feature list type
  tensorboard/components/vz_example_viewer/vz-example-viewer.ts
Labels: plugin:what-if-tool, type:bug/performance

#2264 Add PR curves and F1 score to WIT
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
Labels: plugin:what-if-tool

#2274 build: fix lint errors
  tensorboard/defs/hacks.bzl
  tensorboard/defs/vulcanize.bzl
  tensorboard/defs/web.bzl
  tensorboard/defs/zipper.bzl
  third_party/polymer.bzl
  third_party/typings.bzl
  third_party/workspace.bzl
Labels: type:build/install

#2252 Add ability to set attributions in WIT
  tensorboard/components/vz_example_viewer/vz-example-viewer.html
  tensorboard/components/vz_example_viewer/vz-example-viewer.ts
  tensorboard/plugins/interactive_inference/interactive_inference_plugin.py
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
  tensorboard/plugins/interactive_inference/utils/inference_utils.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/base.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/colab/wit.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/jupyter/js/lib/wit.js
  tensorboard/plugins/interactive_inference/witwidget/notebook/visualization.py
Labels: plugin:what-if-tool

#2262 Add more options for TPU profiling
  tensorboard/plugins/profile/profile_plugin.py
  tensorboard/plugins/profile/tf_profile_dashboard/tf-profile-dashboard.html
Labels: plugin:profile

#2276 [profile] make trace viewer respect --path_prefix
  tensorboard/plugins/profile/tf_profile_dashboard/tf-profile-dashboard.html
Labels: plugin:profile

#2288 core: always gate data selector behind query param
  tensorboard/components/tf_tensorboard/tf-tensorboard.html
  tensorboard/plugins/scalar/tf_scalar_dashboard/tf-scalar-dashboard.html
Labels: core:frontend

#2278 Improve travis.yml config for faster CI
  .travis.yml
  ci/bazelrc
  ci/download_bazel.sh
Labels: type:build/install, type:cleanup

#2289 test: ensure that build URLs are valid
  .travis.yml
  tensorboard/tools/mirror_urls_test.sh
Labels: type:build/install
