Repository tensorflow/tensorboard, pull requests merged in 2019-06, with the labels that each got.

#2299 core: define plugin metadata on the backend
  tensorboard/backend/application.py
  tensorboard/backend/application_test.py
  tensorboard/components/tf_tensorboard/tf-tensorboard.html
  tensorboard/http_api.md
  tensorboard/plugins/base_plugin.py
  tensorboard/plugins/image/images_plugin.py
  tensorboard/plugins/scalar/scalars_plugin.py
Labels: core:backend, core:frontend

#2259 hparams: add `sample_uniform`
  tensorboard/plugins/hparams/hparams_demo.py
  tensorboard/plugins/hparams/summary_v2.py
  tensorboard/plugins/hparams/summary_v2_test.py
Labels: plugin:hparams, type:feature

#2306 mesh: fix steps slider
  tensorboard/plugins/mesh/tf_mesh_dashboard/tf-mesh-loader.html
Labels: plugin:mesh, type:bug/performance

#2308 build: upgrade `rules_closure` to HEAD
  WORKSPACE
  tensorboard/java/org/tensorflow/tensorboard/vulcanize/Vulcanize.java
Labels: type:build/install

#2312 Fix pip package in colab with latest closure libraries
  tensorboard/plugins/interactive_inference/witwidget/notebook/colab/wit.py
Labels: plugin:what-if-tool

#2304 core: stabilize and use `plugin_metadata`
  tensorboard/backend/application.py
  tensorboard/backend/json_util.py
  tensorboard/backend/json_util_test.py
  tensorboard/components/tf_tensorboard/default-plugins.html
  tensorboard/components/tf_tensorboard/registry.ts
  tensorboard/components/tf_tensorboard/tf-tensorboard.html
  tensorboard/default.py
  tensorboard/plugins/audio/audio_plugin.py
  tensorboard/plugins/audio/tf_audio_dashboard/tf-audio-dashboard.html
  tensorboard/plugins/beholder/beholder_plugin.py
  tensorboard/plugins/beholder/tf_beholder_dashboard/tf-beholder-dashboard.html
  tensorboard/plugins/custom_scalar/custom_scalars_plugin.py
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-dashboard.html
  tensorboard/plugins/debugger/debugger_plugin.py
  tensorboard/plugins/debugger/interactive_debugger_plugin.py
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-debugger-dashboard.html
  tensorboard/plugins/distribution/distributions_plugin.py
  tensorboard/plugins/distribution/tf_distribution_dashboard/tf-distribution-dashboard.html
  tensorboard/plugins/graph/graphs_plugin.py
  tensorboard/plugins/graph/tf_graph_dashboard/tf-graph-dashboard.html
  tensorboard/plugins/histogram/histograms_plugin.py
  tensorboard/plugins/histogram/tf_histogram_dashboard/tf-histogram-dashboard.html
  tensorboard/plugins/hparams/hparams_plugin.py
  tensorboard/plugins/hparams/tf_hparams_dashboard/tf-hparams-dashboard.html
  tensorboard/plugins/image/tf_image_dashboard/tf-image-dashboard.html
  tensorboard/plugins/interactive_inference/interactive_inference_plugin.py
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
  tensorboard/plugins/mesh/mesh_plugin.py
  tensorboard/plugins/mesh/tf_mesh_dashboard/tf-mesh-dashboard.html
  tensorboard/plugins/pr_curve/pr_curves_plugin.py
  tensorboard/plugins/pr_curve/tf_pr_curve_dashboard/tf-pr-curve-dashboard.html
  tensorboard/plugins/profile/profile_plugin.py
  tensorboard/plugins/profile/tf_profile_dashboard/tf-profile-dashboard.html
  tensorboard/plugins/projector/projector_plugin.py
  tensorboard/plugins/projector/vz_projector/vz-projector-dashboard.html
  tensorboard/plugins/scalar/scalars_plugin.py
  tensorboard/plugins/scalar/tf_scalar_dashboard/tf-scalar-dashboard.html
  tensorboard/plugins/text/text_plugin.py
  tensorboard/plugins/text/tf_text_dashboard/tf-text-dashboard.html
Labels: core:backend, core:frontend

#2305 core: exclude `CorePlugin` from `plugins_listing`
  tensorboard/backend/application.py
Labels: core:backend

#2317 core: move ES module path into `FrontendMetadata`
  tensorboard/backend/application.py
  tensorboard/backend/application_test.py
  tensorboard/plugins/base_plugin.py
Labels: core:backend

#2318 core: add support for iframe loading
  tensorboard/components/tf_tensorboard/tf-tensorboard.html
Labels: core:frontend

#2319 build: use `tf.test.main` for `mesh:demo_utils_test`
  tensorboard/plugins/mesh/BUILD
  tensorboard/plugins/mesh/demo_utils_test.py
Labels: plugin:mesh, type:bug/performance

#2321 test: use `absltest` for `tensorboard.test`
  tensorboard/BUILD
  tensorboard/test.py
Labels: type:build/install

#2311 Fix py3 issue with AI Platform models
  tensorboard/plugins/interactive_inference/witwidget/BUILD
  tensorboard/plugins/interactive_inference/witwidget/notebook/base.py
Labels: plugin:what-if-tool

#2314 Allow set_target to set ground truth in Performance&Fairness panel
  tensorboard/plugins/interactive_inference/witwidget/notebook/colab/wit.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/jupyter/js/lib/wit.js
Labels: plugin:what-if-tool

#2332 ci: pin to non-broken nightlies
  .travis.yml
Labels: type:build/install

#2315 Handle cancelled requests properly.
  tensorboard/plugins/mesh/tf_mesh_dashboard/mesh-loader.js
  third_party/js.bzl
Labels: plugin:mesh, type:bug/performance

#2337 ci: unpin 2019-06-06 nightlies
  .travis.yml
Labels: type:build/install

#2365 ci: add trailing whitespace test
  .travis.yml
  tensorboard/tools/whitespace_hygiene_test.py
Labels: type:build/install

#2366 tf-runs-selector: make it take up parent's width.
  tensorboard/components/tf_dashboard_common/dashboard-style.html
Labels: core:frontend

#2356 Load projector plugin dynamically
  tensorboard/BUILD
  tensorboard/components/tf_tensorboard/BUILD
  tensorboard/components/tf_tensorboard/default-plugins.html
  tensorboard/default.py
  tensorboard/pip_package/build_pip_package.sh
  tensorboard/pip_package/setup.py
  tensorboard/plugins/projector/BUILD
  tensorboard/plugins/projector/projector_plugin.py
  tensorboard/plugins/projector/tf_projector_plugin/BUILD
  tensorboard/plugins/projector/tf_projector_plugin/index.js
  tensorboard/plugins/projector/tf_projector_plugin/tf-projector-plugin.html
  tensorboard/plugins/projector/vz_projector/vz-projector-dashboard.html
Labels: plugin:projector

#2362 build: add tool to create deterministic tarballs
  tensorboard/pip_package/BUILD
  tensorboard/pip_package/deterministic_tar_gz.py
  tensorboard/pip_package/deterministic_tar_gz_test.py
Labels: type:build/install

#2331 what-if: upgrade what-if source to be tf 2.0 compatible
  tensorboard/plugins/interactive_inference/utils/BUILD
  tensorboard/plugins/interactive_inference/utils/inference_utils.py
  tensorboard/plugins/interactive_inference/witwidget/BUILD
  tensorboard/plugins/interactive_inference/witwidget/notebook/base.py
  tensorboard/plugins/interactive_inference/witwidget/pip_package/setup.py
Labels: plugin:what-if-tool

#2363 build: promote Pip wheels to Bazel target
  .travis.yml
  tensorboard/pip_package/BUILD
  tensorboard/pip_package/build_pip_package.sh
  tensorboard/pip_package/test_pip_package.sh
Labels: type:build/install

#2381 cleanup: fix all remaining trailing whitespace
  README.md
  docs/r1/overview.md
  tensorboard/components/tf_color_scale/palettes.ts
  tensorboard/plugins/custom_scalar/tf_custom_scalar_dashboard/tf-custom-scalar-dashboard.html
  tensorboard/plugins/debugger/tf_debugger_dashboard/tf-debugger-resizer.html
  tensorboard/plugins/graph/tf_graph_common/edge.ts
  tensorboard/plugins/hparams/api.d.ts
  tensorboard/plugins/hparams/http_api.md
  tensorboard/plugins/hparams/tf_hparams_google_analytics_tracker/test/tf-hparams-google-analytics-tracker-test.html
  tensorboard/plugins/hparams/tf_hparams_parallel_coords_plot/tf-hparams-parallel-coords-plot.html
  tensorboard/plugins/hparams/tf_hparams_sessions_pane/tf-hparams-sessions-pane.html
  tensorboard/plugins/interactive_inference/witwidget/pip_package/BUILD
  tensorboard/plugins/interactive_inference/witwidget/pip_package/RELEASE.md
  tensorboard/plugins/mesh/BUILD
  tensorboard/plugins/mesh/README.md
  tensorboard/plugins/mesh/http_api.md
  tensorboard/plugins/mesh/mesh_plugin_test.py
  tensorboard/plugins/mesh/metadata_test.py
  tensorboard/plugins/mesh/summary_test.py
  tensorboard/plugins/mesh/test_utils.py
  tensorboard/plugins/pr_curve/http_api.md
  tensorboard/plugins/profile/README.md
  tensorboard/plugins/profile/pod_viewer/stack_bar_chart/stack-bar-chart.ts
  tensorboard/plugins/projector/vz_projector/umap.d.ts
  tensorboard/plugins/projector/vz_projector/util.ts
  tensorboard/plugins/projector/vz_projector/vz-projector-inspector-panel.ts
  tensorboard/plugins/projector/vz_projector/vz-projector-metadata-card.html
  tensorboard/plugins/projector/vz_projector/vz-projector-projections-panel.html
  tensorboard/plugins/projector/vz_projector/vz-projector-projections-panel.ts
  tensorboard/plugins/projector/vz_projector/vz-projector.ts
  tensorboard/program_test.py
  tensorboard/tools/docs_list_format_test.sh
  tensorboard/tools/whitespace_hygiene_test.py
Labels: type:build/install

#2382 cleanup: express explicit dependency on threejs
  tensorboard/components/tf_imports/tf_graphics_lib.html
  tensorboard/plugins/mesh/tf_mesh_dashboard/BUILD
  tensorboard/plugins/mesh/tf_mesh_dashboard/tf-mesh-loader.html
Labels: plugin:mesh

#2383 Fix werkzeug logging at INFO by forcibly unsetting werkzeug log level
  tensorboard/program.py
  third_party/python.bzl
Labels: core:backend

#2390 core: add CSP header for Colab output frames
  tensorboard/backend/application.py
  tensorboard/backend/application_test.py
Labels: cla: yes, core:backend, type:feature

#2385 Handle large mutliclass better in WIT
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
Labels: cla: yes, plugin:what-if-tool

#2394 build: add `:extract_pip_package` for convenience
  tensorboard/pip_package/BUILD
  tensorboard/pip_package/extract_pip_package.sh
Labels: type:build/install

#2397 Revert "core: add CSP header for Colab output frames (#2390)"
  tensorboard/backend/application.py
  tensorboard/backend/application_test.py
Labels: core:backend, type:bug/performance

#2393 The GPU device check is too specific. Making it more general
  docs/r2/tensorboard_profiling_keras.ipynb
Labels: type:docs

#2395 manager: improve error messages for exec failures
  tensorboard/manager.py
  tensorboard/manager_e2e_test.py
  tensorboard/notebook.py
Labels: core:backend
