Repository tensorflow/tensorboard, pull requests merged in 2019-04, with the labels that each got.

#2083 beholder: fix image resizing
  tensorboard/plugins/beholder/BUILD
  tensorboard/plugins/beholder/beholder_test.py
  tensorboard/plugins/beholder/im_util.py
Labels: plugin:beholder, type:bug/performance

#2096 Update TensorBoard to import pywrap_tensorflow from tensorflow.python
  tensorboard/backend/event_processing/event_file_loader.py
  tensorboard/compat/__init__.py
  tensorboard/compat/tensorflow_stub/__init__.py
  tensorboard/plugins/debugger/debugger_plugin_testlib.py
  tensorboard/plugins/debugger/events_writer_manager.py
  tensorboard/plugins/projector/projector_plugin.py
Labels: type:cleanup

#2110 Update TF 2.0 summary_scope()/import_event() usage
  tensorboard/plugins/audio/summary_v2.py
  tensorboard/plugins/histogram/summary_v2.py
  tensorboard/plugins/hparams/hparams_util.py
  tensorboard/plugins/image/summary_v2.py
  tensorboard/plugins/scalar/summary_v2.py
  tensorboard/plugins/text/summary_v2.py
Labels: core:summaries, tf-2.0

#2105 What-If Tool handling of TFMA-provided results
  tensorboard/components/vz_example_viewer/vz-example-viewer.ts
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
Labels: plugin:what-if-tool, type:feature

#2116 Use `raise_exception_on_not_ok_status` from V1
  tensorboard/backend/event_processing/event_file_loader.py
  tensorboard/compat/tensorflow_stub/__init__.py
Labels: core:backend, type:bug/performance

#2125 ci: pin to non-broken nightlies
  .travis.yml
Labels: type:build/install

#2129 ci: unpin 2019-04-17 nightlies
  .travis.yml
Labels: type:build/install

#2131 manager: make TensorBoardInfo directory universally accessible and useful
  tensorboard/manager.py
  tensorboard/manager_test.py
Labels: core:backend, type:bug/performance

#2132 build: register `mock` dependency with Bazel
  .travis.yml
  tensorboard/BUILD
  tensorboard/backend/BUILD
  tensorboard/plugins/hparams/BUILD
  tensorboard/plugins/interactive_inference/BUILD
  tensorboard/plugins/interactive_inference/utils/BUILD
  third_party/mock.BUILD
  third_party/python.bzl
Labels: type:build/install

#2126 hparams: add Python layer for hparams and metrics
  tensorboard/plugins/hparams/BUILD
  tensorboard/plugins/hparams/api.py
  tensorboard/plugins/hparams/api_test.py
  tensorboard/plugins/hparams/hparams_demo.py
Labels: plugin:hparams, type:feature

#2124 Beholder: fixed infinite growing items issue.
  tensorboard/plugins/beholder/tf_beholder_dashboard/tf-beholder-info.html
Labels: plugin:beholder

#2154 add missing :expect_tensorflow_installed dep to hparams:summary
  tensorboard/plugins/hparams/BUILD
Labels: plugin:hparams

#2157 replace deprecated tf.compat.v1.train.checkpoint_exists()
  tensorboard/plugins/projector/projector_plugin.py
Labels: plugin:projector, tf-2.0, type:cleanup

#2130 hparams: add Keras callback
  tensorboard/plugins/hparams/BUILD
  tensorboard/plugins/hparams/api.py
  tensorboard/plugins/hparams/api_test.py
  tensorboard/plugins/hparams/hparams_demo.py
Labels: plugin:hparams, type:feature

#2156 add user-friendly docstring for TB-provided tf.summary module
  tensorboard/summary/_tf/summary/__init__.py
Labels: core:summaries, type:docs

#2160 use tf.audio for encode/decode_wav if available
  tensorboard/plugins/audio/summary_test.py
  tensorboard/plugins/audio/summary_v2.py
Labels: core:summaries, plugin:audio, tf-2.0, type:cleanup

#2162 add new test for exporting TB symbols under tf.summary
  tensorboard/summary/BUILD
  tensorboard/summary/tf_summary_test.py
Labels: core:summaries, tf-2.0

#2170 build: use `tf.test.main` for `hparams:api_test`
  tensorboard/plugins/hparams/api_test.py
Labels: type:build/install

#2139 hparams: write `hparams_config` summary directly
  tensorboard/plugins/hparams/api.py
  tensorboard/plugins/hparams/api_test.py
  tensorboard/plugins/hparams/hparams_demo.py
Labels: plugin:hparams, type:feature

#2163 hparams: refactor to isolate TF dependencies
  tensorboard/plugins/hparams/BUILD
  tensorboard/plugins/hparams/api.py
  tensorboard/plugins/hparams/api_test.py
  tensorboard/plugins/hparams/keras.py
  tensorboard/plugins/hparams/keras_test.py
  tensorboard/plugins/hparams/summary_v2.py
  tensorboard/plugins/hparams/summary_v2_test.py
Labels: plugin:hparams, type:feature
