Repository tensorflow/tensorboard, pull requests merged in 2019-03, with the labels that each got.

#1912 Update Scalars tutorial text to be more descriptive.
  docs/r2/scalars_and_keras.ipynb
Labels: type:docs

#1927 Tutorial for the Image Summary API.
  docs/_book.yaml
  docs/r2/image_summaries.ipynb
  docs/r2/images/images_accuracy.png
  docs/r2/images/images_arbitrary.png
  docs/r2/images/images_cm.png
  docs/r2/images/images_multiple.png
  docs/r2/images/images_single.png
Labels: type:docs

#1919 Add project include file for banner
  docs/_project.yaml
Labels: type:docs

#1926 Add tutorial on hyperparameter tuning with HParams
  docs/_book.yaml
  docs/r2/hyperparameter_tuning_with_hparams.ipynb
  docs/r2/images/hparams_parallel_coordinates.png
  docs/r2/images/hparams_table.png
Labels: type:docs

#1924 Rewrite the tf.summary import logic, this time with tests
  tensorboard/pip_package/build_pip_package.sh
  tensorboard/summary/_tf/summary/__init__.py
Labels: core:summaries

#1931 Make profile plugin use EventMultiplexer to find data in subdirectories
  tensorboard/backend/event_processing/plugin_asset_util.py
  tensorboard/plugins/profile/BUILD
  tensorboard/plugins/profile/profile_demo.py
  tensorboard/plugins/profile/profile_plugin.py
  tensorboard/plugins/profile/profile_plugin_test.py
Labels: plugin:profile

#1930 Graph plugin: show graph fetch error properly
  tensorboard/plugins/graph/graphs_plugin.py
  tensorboard/plugins/graph/tf_graph_board/tf-graph-board.html
  tensorboard/plugins/graph/tf_graph_common/parser.ts
  tensorboard/plugins/graph/tf_graph_common/util.ts
  tensorboard/plugins/graph/tf_graph_loader/tf-graph-loader.html
Labels: plugin:graph

#1918 Making parcoords resize
  tensorboard/plugins/hparams/tf_hparams_parallel_coords_plot/tf-hparams-parallel-coords-plot.html
  tensorboard/plugins/hparams/tf_hparams_parallel_coords_view/tf-hparams-parallel-coords-view.html
  tensorboard/plugins/hparams/tf_hparams_scatter_plot_matrix_plot/tf-hparams-scatter-plot-matrix-plot.html
Labels: plugin:hparams

#1945 profile: fix loading progress behavior
  tensorboard/plugins/profile/tf_profile_dashboard/tf-profile-dashboard.html
Labels: plugin:profile, type:bug/performance

#1957 Improve tensorboard docs subsite navigation
  .travis.yml
  docs/.yamllint
  docs/_book.yaml
  docs/_index.yaml
  docs/_project.yaml
  docs/r2/image_summaries.ipynb
  docs/r2/scalars_and_keras.ipynb
Labels: type:docs

#1959 Fix parser when GraphDef is empty
  tensorboard/plugins/graph/tf_graph_common/parser.ts
  tensorboard/plugins/graph/tf_graph_common/test/parser-test.ts
  tensorboard/plugins/graph/tf_graph_loader/tf-graph-loader.html
Labels: plugin:graph

#1965 Fix link-breaking typo in docs/r2/graphs.ipynb
  docs/r2/graphs.ipynb
Labels: type:docs

#1966 Remove extra run_dir argument in hparams ipynb
  docs/r2/hyperparameter_tuning_with_hparams.ipynb
Labels: type:docs

#1958 add argument to histograms_demo.py
  tensorboard/plugins/histogram/histograms_demo.py
Labels: plugin:histogram

#1911 Test against TF2 preview in CI
  .travis.yml
  tensorboard/BUILD
  tensorboard/backend/event_processing/plugin_event_accumulator_test.py
  tensorboard/data_compat_test.py
  tensorboard/plugins/audio/BUILD
  tensorboard/plugins/audio/audio_plugin_test.py
  tensorboard/plugins/audio/summary_test.py
  tensorboard/plugins/beholder/beholder.py
  tensorboard/plugins/core/core_plugin_test.py
  tensorboard/plugins/debugger/BUILD
  tensorboard/plugins/debugger/debug_graphs_helper_test.py
  tensorboard/plugins/debugger/debugger_plugin_testlib.py
  tensorboard/plugins/debugger/debugger_server_lib.py
  tensorboard/plugins/debugger/interactive_debugger_plugin_test.py
  tensorboard/plugins/debugger/session_debug_test.py
  tensorboard/plugins/graph/BUILD
  tensorboard/plugins/graph/keras_util_test.py
  tensorboard/plugins/histogram/BUILD
  tensorboard/plugins/histogram/summary_test.py
  tensorboard/plugins/image/BUILD
  tensorboard/plugins/image/summary_test.py
  tensorboard/plugins/pr_curve/pr_curve_demo.py
  tensorboard/plugins/projector/BUILD
  tensorboard/plugins/projector/projector_plugin_test.py
  tensorboard/plugins/scalar/BUILD
  tensorboard/plugins/scalar/scalars_plugin_test.py
  tensorboard/plugins/scalar/summary_test.py
  tensorboard/plugins/text/summary_test.py
  tensorboard/util/BUILD
  tensorboard/util/encoder_test.py
  tensorboard/util/test_util.py
Labels: type:build/install

#2005 init: fix top-level module reloading
  tensorboard/BUILD
  tensorboard/__init__.py
  tensorboard/lib_test.py
Labels: core:backend, type:bug/performance

#2008 Minor hparams fixes.
  tensorboard/plugins/hparams/tf_hparams_backend/BUILD
  tensorboard/plugins/hparams/tf_hparams_main/tf-hparams-main.html
  tensorboard/plugins/hparams/tf_hparams_parallel_coords_view/tf-hparams-parallel-coords-view.html
  tensorboard/plugins/hparams/tf_hparams_scale_and_color_controls/tf-hparams-scale-and-color-controls.html
  tensorboard/plugins/hparams/tf_hparams_scatter_plot_matrix_view/tf-hparams-scatter-plot-matrix-view.html
  tensorboard/plugins/hparams/tf_hparams_sessions_pane/tf-hparams-sessions-pane.html
  tensorboard/plugins/hparams/tf_hparams_table_view/tf-hparams-table-view.html
Labels: plugin:hparams

#1894 add capture-profile into profile plugin
  tensorboard/plugins/profile/profile_plugin.py
  tensorboard/plugins/profile/tf_profile_dashboard/BUILD
  tensorboard/plugins/profile/tf_profile_dashboard/tf-profile-dashboard.html
Labels: plugin:profile

#2009 Use console logs to determine web test results
  tensorboard/functionaltests/wct_test_driver.py
Labels: type:bug/performance, type:build/install

#2022 build: split `py_test` to avoid deps on binary
  tensorboard/plugins/graph/BUILD
Labels: type:build/install

#2026 lib: export `version` and define `__version__`
  tensorboard/__init__.py
  tensorboard/pip_package/build_pip_package.sh
Labels: core:backend, type:feature

#2024 Remove dead code in db.py, loader.py, and related utilities and tests
  tensorboard/BUILD
  tensorboard/backend/BUILD
  tensorboard/backend/application.py
  tensorboard/db.py
  tensorboard/db_test.py
  tensorboard/loader.py
  tensorboard/loader_test.py
  tensorboard/plugins/hparams/BUILD
  tensorboard/program.py
  tensorboard/util/BUILD
  tensorboard/util/test_util.py
  tensorboard/util/util.py
  tensorboard/util/util_test.py
Labels: type:cleanup

#2036 Fix `TFRecordCompressionType` test failures
  tensorboard/plugins/interactive_inference/utils/platform_utils.py
Labels: type:bug/performance

#2040 [PR Curve Plugin] Fix some bugs in sample code snippets
  tensorboard/plugins/pr_curve/README.md
Labels: plugin:pr-curves, type:docs

#2052 graph: bring keras_util.py up to date with TF
  tensorboard/plugins/graph/keras_util.py
Labels: type:bug/performance

#2054 manager: switch from `datetime` to bare timestamps
  tensorboard/manager.py
  tensorboard/manager_test.py
  tensorboard/notebook.py
  tensorboard/program.py
Labels: core:backend, type:bug/performance

#2031 docs: fix list rendering
  .travis.yml
  docs/r2/graphs.ipynb
  docs/r2/hyperparameter_tuning_with_hparams.ipynb
  tensorboard/tools/docs_list_format_test.sh
Labels: type:bug/performance, type:docs

#2056 hparams: fix demo Unicode handling in Python 3
  tensorboard/plugins/hparams/hparams_demo.py
Labels: plugin:hparams, type:bug/performance

#1901 Add UMAP to embedding projector
  tensorboard/components/tf_imports/BUILD
  tensorboard/components/tf_imports/umap-js.html
  tensorboard/java/org/tensorflow/tensorboard/vulcanize/externs.js
  tensorboard/plugins/projector/vz_projector/BUILD
  tensorboard/plugins/projector/vz_projector/bundle.html
  tensorboard/plugins/projector/vz_projector/data.ts
  tensorboard/plugins/projector/vz_projector/test/data_test.ts
  tensorboard/plugins/projector/vz_projector/umap.d.ts
  tensorboard/plugins/projector/vz_projector/util.ts
  tensorboard/plugins/projector/vz_projector/vz-projector-projections-panel.html
  tensorboard/plugins/projector/vz_projector/vz-projector-projections-panel.ts
  third_party/js.bzl
Labels: plugin:projector, stat:awaiting tensorflower, type:feature

#1987 program: initialize server objects exactly once
  tensorboard/program.py
Labels: core:backend
