Repository tensorflow/tensorboard, pull requests merged in 2019-02, with the labels that each got.

#1802 main: handle SIGTERM, running `atexit` handlers
  tensorboard/program.py
Labels: core:backend

#1804 manager: add `TensorboardInfo` type definition
  tensorboard/BUILD
  tensorboard/manager.py
  tensorboard/manager_test.py
Labels: core:backend

#1805 manager: add a `cache_key` function
  tensorboard/manager.py
  tensorboard/manager_test.py
Labels: core:backend

#1808 manager: always return `str` from `cache_key`
  tensorboard/manager.py
  tensorboard/manager_test.py
Labels: core:backend

#1814 wit: fix typos in visualization.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/visualization.py
Labels: plugin:what-if-tool

#1812 docs: update summary example code from TF source
  docs/summaries.md
Labels: type:docs

#1806 manager: add I/O for TensorboardInfo files
  tensorboard/BUILD
  tensorboard/manager.py
  tensorboard/manager_test.py
Labels: core:backend

#1807 program: write TensorboardInfo on server startup
  tensorboard/BUILD
  tensorboard/program.py
Labels: core:backend

#1836 ui: open help in new window/tab
  tensorboard/components/tf_tensorboard/tf-tensorboard.html
Labels: core:frontend

#1843 hparams: fix typo in comment
  tensorboard/plugins/hparams/tf_hparams_scatter_plot_matrix_plot/tf-hparams-scatter-plot-matrix-plot.html
Labels: plugin:hparams

#1847 Add summary/_tf/ package for providing tf.summary API component
  tensorboard/summary/BUILD
  tensorboard/summary/_tf/__init__.py
  tensorboard/summary/_tf/summary/__init__.py
Labels: core:summaries

#1842 Add support for custom prediction function in colab and jupyter notebook modes.
  tensorboard/plugins/interactive_inference/README.md
  tensorboard/plugins/interactive_inference/utils/inference_utils.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/colab/wit.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/jupyter/wit.py
  tensorboard/plugins/interactive_inference/witwidget/notebook/visualization.py
  tensorboard/plugins/interactive_inference/witwidget/version.py
Labels: plugin:what-if-tool, type:feature

#1846 scalars: use `tf-downloader` for download links
  tensorboard/components/tf_dashboard_common/tf-downloader.html
  tensorboard/plugins/scalar/tf_scalar_dashboard/BUILD
  tensorboard/plugins/scalar/tf_scalar_dashboard/tf-scalar-card.html
Labels: core:frontend, plugin:scalars

#1830 Add threshold lines to partial dependence plots in WIT
  tensorboard/components/vz_bar_chart/vz-bar-chart.ts
  tensorboard/components/vz_line_chart/vz-line-chart.ts
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
Labels: plugin:what-if-tool, type:feature

#1852 Make tf.summary API component package work in pip package land
  tensorboard/pip_package/BUILD
  tensorboard/pip_package/build_pip_package.sh
  tensorboard/summary/_tf/summary/__init__.py
Labels: core:summaries

#1851 server: when no port is specified, try to find one
  tensorboard/plugins/core/core_plugin.py
  tensorboard/program.py
Labels: core:backend, type:feature

#1858 server: amend #1851’s port-crawling implementation
  tensorboard/program.py
Labels: core:backend

#1859 Fix bugs in _tf/summary/__init__.py import logic for tf.summary
  tensorboard/summary/_tf/summary/__init__.py
Labels: core:summaries

#1861 Make V1 summary API only import tensorflow on-demand
  tensorboard/plugins/custom_scalar/BUILD
  tensorboard/plugins/custom_scalar/metadata.py
  tensorboard/plugins/custom_scalar/summary.py
  tensorboard/plugins/pr_curve/summary.py
  tensorboard/summary/BUILD
  tensorboard/summary/summary_dep_test.py
  tensorboard/summary/summary_test.py
Labels: core:summaries

#1850 First step in reorganization of What-If Tool visuals
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/BUILD
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-confusion-matrix.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
Labels: plugin:what-if-tool

#1854 Keras model to GraphDef converter
  tensorboard/plugins/graph/BUILD
  tensorboard/plugins/graph/keras_util.py
  tensorboard/plugins/graph/keras_util_test.py
Labels: plugin:graph

#1853 Change graph plugin backend for v2 compatibility
  tensorboard/plugins/graph/graphs_plugin.py
  tensorboard/plugins/graph/graphs_plugin_test.py
  tensorboard/plugins/graph/http_api.md
  tensorboard/plugins/graph/tf_graph_common/common.ts
  tensorboard/plugins/graph/tf_graph_controls/tf-graph-controls.html
  tensorboard/plugins/graph/tf_graph_dashboard/tf-graph-dashboard.html
  tensorboard/plugins/graph/tf_graph_loader/BUILD
  tensorboard/plugins/graph/tf_graph_loader/tf-graph-loader.html
Labels: plugin:graph

#1883 Test build_pip_package.sh on Travis
  .travis.yml
  tensorboard/pip_package/build_pip_package.sh
Labels: type:build/install

#1887 Stop setting PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION env var
  tensorboard/main.py
Labels: core:backend

#1879 Graph plugin populates graph and RunMeta v2.
  tensorboard/plugins/graph/BUILD
  tensorboard/plugins/graph/graphs_plugin.py
  tensorboard/plugins/graph/graphs_plugin_test.py
  tensorboard/plugins/graph/graphs_plugin_v2_test.py
  tensorboard/plugins/graph/tf_graph_loader/tf-graph-loader.html
Labels: plugin:graph

#1878 Support conceptual graph in graph plugin
  tensorboard/plugins/graph/tf_graph_common/graph.ts
  tensorboard/plugins/graph/tf_graph_controls/tf-graph-controls.html
  tensorboard/plugins/graph/tf_graph_dashboard/tf-graph-dashboard.html
  tensorboard/plugins/graph/tf_graph_info/tf-graph-icon.html
  tensorboard/plugins/graph/tf_graph_loader/tf-graph-loader.html
Labels: plugin:graph

#1899 Wit readme fix
  tensorboard/plugins/interactive_inference/README.md
  tensorboard/plugins/interactive_inference/img/wit-census-edit-rerun.png
  tensorboard/plugins/interactive_inference/img/wit-census-overview.png
  tensorboard/plugins/interactive_inference/img/wit-census-pd.png
  tensorboard/plugins/interactive_inference/img/wit-census-roc.png
  tensorboard/plugins/interactive_inference/img/wit-smile-intro.png
  tensorboard/plugins/interactive_inference/witwidget/version.py
Labels: plugin:what-if-tool

#1898 Fix what-if tool display issue on example loading without inference
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
Labels: plugin:what-if-tool, type:bug/performance

#1900 manager: use portable epoch time computation
  tensorboard/manager.py
Labels: (╯°□°)╯windows, core:backend, type:bug/performance

#1896 Converting posts to gets
  tensorboard/plugins/hparams/hparams_plugin.py
  tensorboard/plugins/hparams/http_api.md
  tensorboard/plugins/hparams/tf_hparams_backend/BUILD
  tensorboard/plugins/hparams/tf_hparams_backend/tf-hparams-backend.html
  tensorboard/plugins/hparams/tf_hparams_dashboard/BUILD
  tensorboard/plugins/hparams/tf_hparams_dashboard/tf-hparams-dashboard.html
  tensorboard/plugins/hparams/tf_hparams_main/tf-hparams-main.html
  tensorboard/plugins/hparams/tf_hparams_parallel_coords_view/tf-hparams-parallel-coords-view.html
  tensorboard/plugins/hparams/tf_hparams_query_pane/BUILD
  tensorboard/plugins/hparams/tf_hparams_query_pane/test/tf-hparams-query-pane-test.html
  tensorboard/plugins/hparams/tf_hparams_query_pane/tf-hparams-query-pane.html
  tensorboard/plugins/hparams/tf_hparams_scatter_plot_matrix_view/tf-hparams-scatter-plot-matrix-view.html
  tensorboard/plugins/hparams/tf_hparams_session_group_details/tf-hparams-session-group-details.html
  tensorboard/plugins/hparams/tf_hparams_sessions_pane/tf-hparams-sessions-pane.html
  tensorboard/plugins/hparams/tf_hparams_table_view/tf-hparams-table-view.html
  tensorboard/plugins/hparams/tf_hparams_utils/tf-hparams-utils.html
Labels: plugin:hparams

#1908 Fix flaky eventfile usage in summary V2 tests
  tensorboard/plugins/audio/summary_test.py
  tensorboard/plugins/histogram/summary_test.py
  tensorboard/plugins/image/summary_test.py
  tensorboard/plugins/scalar/summary_test.py
  tensorboard/plugins/text/summary_test.py
Labels: core:summaries

#1891 Make step parameter optional in summary V2 API
  tensorboard/plugins/audio/summary_test.py
  tensorboard/plugins/audio/summary_v2.py
  tensorboard/plugins/histogram/summary_test.py
  tensorboard/plugins/histogram/summary_v2.py
  tensorboard/plugins/image/summary_test.py
  tensorboard/plugins/image/summary_v2.py
  tensorboard/plugins/scalar/summary_test.py
  tensorboard/plugins/scalar/summary_v2.py
  tensorboard/plugins/text/summary_test.py
  tensorboard/plugins/text/summary_v2.py
Labels: core:summaries

#1916 notebook: change default height to 800px
  tensorboard/notebook.py
Labels: core:frontend

#1914 profile: disable dashboard inside Colab
  tensorboard/plugins/profile/tf_profile_dashboard/tf-profile-dashboard.html
Labels: plugin:profile, type:bug/performance

#1922 profile: make help links open in new tabs
  tensorboard/plugins/profile/tf_profile_dashboard/tf-profile-dashboard.html
Labels: plugin:profile, type:bug/performance

#1910 Add axes labels to PD plots
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/demo/multi_index.html
  tensorboard/plugins/interactive_inference/tf_interactive_inference_dashboard/tf-interactive-inference-dashboard.html
Labels: plugin:what-if-tool
