Repository tensorflow/tensorboard, pull requests merged in 2019-01, with the labels that each got.

#1758 build: temporarily pin working tf-nightly version, and fix build
  .travis.yml
  tensorboard/pip_package/build_pip_package.sh
Labels: type:build/install

#1767 ci: update Travis to Bazel 0.21.0
  .travis.yml
Labels: type:build/install

#1761 build: unpin tf-nightly version
  .travis.yml
  tensorboard/pip_package/build_pip_package.sh
Labels: type:build/install

#1755 Unbreak the tensorboard windows build
  tensorboard/java/org/tensorflow/tensorboard/vulcanize/BUILD
  tensorboard/pip_package/setup.py
  tensorboard/scripts/execrooter.py
  third_party/python.bzl
Labels: (╯°□°)╯windows, type:build/install

#1781 Make tensorboard.compat.{tf,tf2} lazily loaded
  tensorboard/__init__.py
  tensorboard/compat/BUILD
  tensorboard/compat/__init__.py
  tensorboard/compat/tensorflow_stub/__init__.py
  tensorboard/lazy.py
  tensorboard/plugins/audio/summary_test.py
  tensorboard/plugins/audio/summary_v2.py
  tensorboard/plugins/histogram/summary_test.py
  tensorboard/plugins/histogram/summary_v2.py
  tensorboard/plugins/image/summary_test.py
  tensorboard/plugins/image/summary_v2.py
  tensorboard/plugins/projector/projector_plugin.py
  tensorboard/plugins/scalar/summary_test.py
  tensorboard/plugins/scalar/summary_v2.py
  tensorboard/plugins/text/summary_test.py
  tensorboard/plugins/text/summary_v2.py
  tensorboard/summary/BUILD
  tensorboard/summary/summary_dep_test.py
Labels: core:backend, core:summaries

#1792 Update protobuf dep to >=3.6.0 which is what is actually required
  tensorboard/pip_package/setup.py
Labels: type:build/install
