Repository tensorflow/tensorboard, pull requests merged in 2020-08, with the labels that each got.

#3938 sync: add core:types dep for strictDeps
  tensorboard/webapp/plugins/npmi/BUILD
Labels: cla: yes

#3939 sync: use tb re-exported legacy element mixin
  tensorboard/plugins/text/polymer3/tf_text_dashboard/BUILD
  tensorboard/plugins/text/polymer3/tf_text_dashboard/tf-text-dashboard.ts
  tensorboard/plugins/text/polymer3/tf_text_dashboard/tf-text-loader.ts
Labels: cla: yes, polymer3

#3864 Text demo v2
  tensorboard/plugins/text/BUILD
  tensorboard/plugins/text/text_demo.py
Labels: cla: yes

#3945 bug: remove extra unused import in tf-multi-checkbox
  tensorboard/components_polymer3/tf_dashboard_common/tf-multi-checkbox.ts
Labels: cla: yes, polymer3

#3943 fix: run filter in the runs selector
  tensorboard/components_polymer3/tf_dashboard_common/tf-multi-checkbox.ts
Labels: cla: yes, polymer3

#3946 bug: fixed wrong ref to urlDict
  tensorboard/components_polymer3/tf_storage/storage.ts
Labels: cla: yes, polymer3

#3942 fix: import iron-flex by depending on appropriate module
  tensorboard/components_polymer3/tf_dashboard_common/dashboard-style.ts
Labels: cla: yes, polymer3

#3941 fix register_style_dom_module for styleIncludes
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/components_polymer3/polymer/register_style_dom_module.ts
Labels: cla: yes, polymer3

#3936 migrate: tf_audio_dashboard
  tensorboard/plugins/audio/polymer3/tf_audio_dashboard/BUILD
  tensorboard/plugins/audio/polymer3/tf_audio_dashboard/tf-audio-dashboard.html
  tensorboard/plugins/audio/polymer3/tf_audio_dashboard/tf-audio-dashboard.ts
  tensorboard/plugins/audio/polymer3/tf_audio_dashboard/tf-audio-loader.html
  tensorboard/plugins/audio/polymer3/tf_audio_dashboard/tf-audio-loader.ts
Labels: cla: yes, polymer3

#3948 fix: call *Initializer with reference to
  tensorboard/components_polymer3/tf_categorization_utils/tf-tag-filterer.ts
  tensorboard/components_polymer3/tf_runs_selector/tf-runs-selector.ts
Labels: cla: yes, polymer3

#3944 bug: fixed the text dashboard
  tensorboard/plugins/text/polymer3/tf_text_dashboard/tf-text-dashboard.ts
Labels: cla: yes, polymer3

#3947 add explicit global HTML style and add roboto dependency
  tensorboard/webapp/BUILD
  tensorboard/webapp/index.uninlined.html
  third_party/fonts.bzl
Labels: cla: yes, polymer3

#3951 migrate: fix data-loader-behavior.ts observer spec
  tensorboard/components_polymer3/tf_dashboard_common/data-loader-behavior.ts
Labels: cla: yes, polymer3

#3949 migrate: misc fixes
  tensorboard/components_polymer3/tf_dashboard_common/tf-multi-checkbox.ts
  tensorboard/components_polymer3/tf_paginated_view/tf-category-paginated-view.ts
  tensorboard/components_polymer3/tf_paginated_view/tf-dom-repeat.ts
Labels: cla: yes, polymer3

#3952 migrate: add plottable-style DOM module for vz-line-chart2
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/components_polymer3/polymer/plottable-style.uninlined.ts
  tensorboard/components_polymer3/vz_line_chart2/BUILD
  tensorboard/components_polymer3/vz_line_chart2/vz-line-chart2.ts
Labels: cla: yes, polymer3

#3937 Allow tensorboard_html_binary to serve JS file in the devserver
  tensorboard/defs/vulcanize.bzl
Labels: cla: yes

#3953 sync: fixed projector for sync
  package.json
  tensorboard/plugins/projector/polymer3/vz_projector/BUILD
  tensorboard/plugins/projector/polymer3/vz_projector/data.ts
  tensorboard/plugins/projector/polymer3/vz_projector/logging.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-bookmark-panel.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-data-panel.html.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-data-panel.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-input.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-inspector-panel.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-legend.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-metadata-card.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-projections-panel.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector.ts
  yarn.lock
Labels: cla: yes, plugin:projector, polymer3

#3957 bug: fix broken contentActive in tf-dom-repeat
  tensorboard/components_polymer3/tf_paginated_view/tf-category-paginated-view.ts
  tensorboard/components_polymer3/tf_paginated_view/tf-dom-repeat.ts
Labels: cla: yes, polymer3

#3958 polymer3: use hourglass import for paper & irons
  package.json
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/components_polymer3/polymer/irons_and_papers.ts
  tensorboard/components_polymer3/tf_card_heading/BUILD
  tensorboard/components_polymer3/tf_card_heading/tf-card-heading.ts
  tensorboard/components_polymer3/tf_categorization_utils/BUILD
  tensorboard/components_polymer3/tf_categorization_utils/tf-tag-filterer.ts
  tensorboard/components_polymer3/tf_dashboard_common/BUILD
  tensorboard/components_polymer3/tf_dashboard_common/dashboard-style.ts
  tensorboard/components_polymer3/tf_dashboard_common/tf-downloader.ts
  tensorboard/components_polymer3/tf_dashboard_common/tf-dropdown-trigger.ts
  tensorboard/components_polymer3/tf_dashboard_common/tf-filterable-checkbox-dropdown.ts
  tensorboard/components_polymer3/tf_dashboard_common/tf-filterable-checkbox-list.ts
  tensorboard/components_polymer3/tf_dashboard_common/tf-multi-checkbox.ts
  tensorboard/components_polymer3/tf_line_chart_data_loader/BUILD
  tensorboard/components_polymer3/tf_line_chart_data_loader/tf-line-chart-data-loader.ts
  tensorboard/components_polymer3/tf_paginated_view/BUILD
  tensorboard/components_polymer3/tf_paginated_view/tf-category-paginated-view.ts
  tensorboard/components_polymer3/tf_runs_selector/BUILD
  tensorboard/components_polymer3/tf_runs_selector/tf-runs-selector.ts
  tensorboard/plugins/audio/polymer3/tf_audio_dashboard/BUILD
  tensorboard/plugins/audio/polymer3/tf_audio_dashboard/tf-audio-loader.ts
  tensorboard/plugins/profile_redirect/polymer3/tf_profile_redirect_dashboard/BUILD
  tensorboard/plugins/profile_redirect/polymer3/tf_profile_redirect_dashboard/tf-profile-redirect-dashboard.ts
  tensorboard/plugins/projector/polymer3/vz_projector/BUILD
  tensorboard/plugins/projector/polymer3/vz_projector/bundle.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-app.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-bookmark-panel.html.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-bookmark-panel.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-data-panel.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-input.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-inspector-panel.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-metadata-card.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-projections-panel.ts
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector.ts
  tensorboard/plugins/text/polymer3/tf_text_dashboard/BUILD
  tensorboard/plugins/text/polymer3/tf_text_dashboard/tf-text-dashboard.ts
  tensorboard/plugins/text/polymer3/tf_text_dashboard/tf-text-loader.ts
  yarn.lock
Labels: cla: yes, polymer3

#3960 migrate: fix irons_and_papers import in tf-multi-checkbox.ts
  tensorboard/components_polymer3/tf_dashboard_common/tf-multi-checkbox.ts
Labels: cla: yes, polymer3

#3961 migrate: enable Polymer 3 frontend with `TB_POLYMER3=1`
  tensorboard/BUILD
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/defs/defs.bzl
  tensorboard/plugins/core/core_plugin.py
  tensorboard/webapp/BUILD
  tensorboard/webapp/index_polymer3.uninlined.html
Labels: cla: yes, polymer3

#3967 Expose experiment metadata as part of the Environment object in the ngrx store.
  tensorboard/webapp/types/api.ts
Labels: cla: yes

#3970 migrate: fix vz-line-chart2 to call super.ready()
  tensorboard/components_polymer3/vz_line_chart2/vz-line-chart2.ts
Labels: cla: yes, polymer3

#3962 migrate: enable dynamic plugin host API for polymer3 app
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/experimental/plugin_util/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
Labels: cla: yes, polymer3

#3965 sync: remove usage of THREE during module resolution
  tensorboard/plugins/projector/polymer3/vz_projector/scatterPlot.ts
  tensorboard/plugins/projector/polymer3/vz_projector/scatterPlotVisualizerSprites.ts
Labels: cla: yes

#3966 sync: break circular deps
  tensorboard/plugins/projector/polymer3/vz_projector/vz-projector-projections-panel.ts
Labels: cla: yes

#3968 sync: fix strict deps on npmi main for sync
  tensorboard/webapp/plugins/npmi/views/main/BUILD
Labels: cla: yes

#3969 migrate: fix tf-multi-checkbox to use LegacyElementMixin
  tensorboard/components_polymer3/tf_dashboard_common/tf-multi-checkbox.ts
Labels: cla: yes, polymer3

#3974 data-loader-behavior: define `reload` on interface
  tensorboard/components_polymer3/tf_dashboard_common/data-loader-behavior.ts
Labels: cla: yes, polymer3

#3976 sync: refactor to make exported object more robust
  tensorboard/components_polymer3/experimental/plugin_util/core-host-impl.ts
  tensorboard/components_polymer3/tf_storage/storage.ts
Labels: cla: yes

#3975 sync: import by file path, not module name
  tensorboard/components_polymer3/experimental/plugin_util/plugin-host.ts
Labels: cla: yes

#3978 license: extract bh_tsne license out and bundle it
  tensorboard/pip_package/BUILD
  tensorboard/plugins/projector/vz_projector/bh_tsne.ts
  third_party/BUILD
  third_party/bh_tsne.LICENSE
Labels: cla: yes

#3977 sync: relax rollup config for imperfect deps
  tensorboard/defs/rollup_config.js
Labels: cla: yes

#3979 license: edit license of polymer3 version of bh_tsne
  tensorboard/plugins/projector/polymer3/vz_projector/bh_tsne.ts
Labels: cla: yes

#3971 migrate: include paper-spinner-lite in irons_and_papers
  tensorboard/components_polymer3/polymer/irons_and_papers.ts
Labels: cla: yes, polymer3

#3985 polymer3: add indirection for `PolymerDom`
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/components_polymer3/polymer/dom.ts
Labels: cla: yes, polymer3, type:build/install

#3986 migrate: tf_image_dashboard
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/plugins/image/polymer3/tf_image_dashboard/BUILD
  tensorboard/plugins/image/polymer3/tf_image_dashboard/tf-image-dashboard.ts
  tensorboard/plugins/image/polymer3/tf_image_dashboard/tf-image-loader.html
  tensorboard/plugins/image/polymer3/tf_image_dashboard/tf-image-loader.ts
Labels: cla: yes, plugin:images, polymer3

#3990 migrate: enable audio dashboard
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
Labels: cla: yes, plugin:audio, polymer3

#3982 Adding back in a missing dependency
  tensorboard/plugins/scalar/BUILD
Labels: cla: yes

#3994 dep: add paper-radio-group dependency
  package.json
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/components_polymer3/polymer/irons_and_papers.ts
  yarn.lock
Labels: cla: yes

#3984 text_v2: add skeleton to the application
  tensorboard/webapp/BUILD
  tensorboard/webapp/app_module.ts
  tensorboard/webapp/plugins/text_v2/BUILD
  tensorboard/webapp/plugins/text_v2/text_v2_module.ts
  tensorboard/webapp/plugins/text_v2/views/text_dashboard/BUILD
  tensorboard/webapp/plugins/text_v2/views/text_dashboard/text_dashboard_component.ts
  tensorboard/webapp/plugins/text_v2/views/text_dashboard/text_dashboard_module.ts
Labels: cla: yes, plugin:text

#3992 migrate: replace Node.isConnected with manually wired property
  tensorboard/components_polymer3/tf_dashboard_common/data-loader-behavior.ts
Labels: cla: yes, polymer3

#3996 polymer3: add indirection for `dom-repeat`
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/components_polymer3/polymer/dom-repeat.ts
Labels: cla: yes, polymer3, type:build/install

#3995 custom_scalars: remove Polymer 3 `tf_web_library`
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/BUILD
Labels: cla: yes, plugin:custom-scalars, polymer3, type:build/install

#3997 strict deps: missing ngrx/store dependency
  tensorboard/webapp/plugins/text_v2/BUILD
Labels: cla: yes

#3999 migrate-graph: remove ts srcs from tf_web_library
  tensorboard/plugins/graph/polymer3/tf_graph_common/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_controls/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_loader/BUILD
Labels: cla: yes

#4001 tf-dom-repeat: port `MutationObserver` to Polymer 3
  tensorboard/components_polymer3/tf_paginated_view/tf-dom-repeat.ts
Labels: cla: yes, core:frontend, polymer3

#4003 migrate: remove graph `tensorboard_webcomponent_library`s
  tensorboard/plugins/graph/polymer3/tf_graph/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_app/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_board/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_common/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_controls/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_dashboard/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_debugger_data_card/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_info/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_loader/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_node_search/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_op_compat_card/BUILD
Labels: cla: yes, polymer3, type:build/install

#3959 migrate: plugins/histogram/polymer3
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/BUILD
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/histogramCore.ts
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/tf-histogram-core.html
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/tf-histogram-dashboard.html
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/tf-histogram-dashboard.ts
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/tf-histogram-loader.html
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/tf-histogram-loader.ts
  tensorboard/plugins/histogram/polymer3/vz_histogram_timeseries/BUILD
  tensorboard/plugins/histogram/polymer3/vz_histogram_timeseries/index.html
  tensorboard/plugins/histogram/polymer3/vz_histogram_timeseries/vz-histogram-timeseries.html
  tensorboard/plugins/histogram/polymer3/vz_histogram_timeseries/vz-histogram-timeseries.ts
Labels: cla: yes, plugin:histogram, polymer3

#3980 migrate: plugins/distribution/polymer3
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/plugins/distribution/polymer3/tf_distribution_dashboard/BUILD
  tensorboard/plugins/distribution/polymer3/tf_distribution_dashboard/tf-distribution-dashboard.ts
  tensorboard/plugins/distribution/polymer3/tf_distribution_dashboard/tf-distribution-loader.html
  tensorboard/plugins/distribution/polymer3/tf_distribution_dashboard/tf-distribution-loader.ts
  tensorboard/plugins/distribution/polymer3/vz_distribution_chart/BUILD
  tensorboard/plugins/distribution/polymer3/vz_distribution_chart/index.html
  tensorboard/plugins/distribution/polymer3/vz_distribution_chart/vz-distribution-chart.html
  tensorboard/plugins/distribution/polymer3/vz_distribution_chart/vz-distribution-chart.ts
Labels: cla: yes, plugin:distributions, polymer3

#4006 histograms: use `irons_and_papers` indirection
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/BUILD
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/tf-histogram-dashboard.ts
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/tf-histogram-loader.ts
Labels: cla: yes, plugin:histogram, polymer3, type:cleanup

#3991 chore: remove an ability to customize tsconfig
  tensorboard/components/tensor_widget/BUILD
  tensorboard/components/tensor_widget/tsconfig.json
  tensorboard/defs/defs.bzl
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/store/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/alerts/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/debug_tensor_value/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/execution_data/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/graph/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/graph_executions/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/source_code/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/source_files/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/stack_trace/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/timeline/BUILD
  tensorboard/webapp/core/store/BUILD
  tensorboard/webapp/core/views/BUILD
  tensorboard/webapp/header/BUILD
  tensorboard/webapp/plugins/BUILD
  tensorboard/webapp/plugins/npmi/BUILD
  tensorboard/webapp/plugins/npmi/views/main/BUILD
  tensorboard/webapp/plugins/text_v2/BUILD
  tensorboard/webapp/plugins/text_v2/data_source/BUILD
  tensorboard/webapp/plugins/text_v2/store/BUILD
  tensorboard/webapp/reloader/BUILD
  tensorboard/webapp/runs/views/legacy_runs_selector/BUILD
  tensorboard/webapp/settings/BUILD
  tensorboard/webapp/tbdev_upload/BUILD
Labels: cla: yes

#3940 migrate: mesh plugin
  tensorboard/plugins/mesh/polymer3/tf_mesh_dashboard/BUILD
  tensorboard/plugins/mesh/polymer3/tf_mesh_dashboard/array-buffer-data-provider.ts
  tensorboard/plugins/mesh/polymer3/tf_mesh_dashboard/mesh-loader.js
  tensorboard/plugins/mesh/polymer3/tf_mesh_dashboard/mesh-loader.ts
  tensorboard/plugins/mesh/polymer3/tf_mesh_dashboard/mesh-viewer.ts
  tensorboard/plugins/mesh/polymer3/tf_mesh_dashboard/tf-mesh-dashboard.ts
  tensorboard/plugins/mesh/polymer3/tf_mesh_dashboard/tf-mesh-loader.html
Labels: cla: yes, polymer3

#4009 Remove unnecessary py_binary loader
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/BUILD
Labels: cla: yes

#4002 migrate: tf_custom_scalar_dashboard
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/components_polymer3/tf_line_chart_data_loader/tf-line-chart-data-loader.ts
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/BUILD
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-card-style.html
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-card-style.ts
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-dashboard.ts
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-helpers.html
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-helpers.ts
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-margin-chart-card.html
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-margin-chart-card.ts
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-multi-line-chart-card.html
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-multi-line-chart-card.ts
Labels: cla: yes, plugin:custom-scalars, polymer3

#3921 migrate: prepare graph for conversion part 1
  package.json
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/components_polymer3/polymer/irons_and_papers.ts
  tensorboard/plugins/graph/polymer3/tf_graph/demo/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph/demo/data/graph.pbtxt
  tensorboard/plugins/graph/polymer3/tf_graph/demo/index.html
  tensorboard/plugins/graph/polymer3/tf_graph_app/demo/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_app/demo/data/graph.pbtxt
  tensorboard/plugins/graph/polymer3/tf_graph_app/demo/index.html
  tensorboard/plugins/graph/polymer3/tf_graph_board/demo/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_board/demo/data/graph.pbtxt
  tensorboard/plugins/graph/polymer3/tf_graph_board/demo/index.html
  tensorboard/plugins/graph/polymer3/tf_graph_controls/demo/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_controls/demo/index.html
  tensorboard/plugins/graph/polymer3/tf_graph_debugger_data_card/demo/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_debugger_data_card/demo/index.html
  tensorboard/plugins/graph/polymer3/tf_graph_info/demo/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_info/demo/data/graph.pbtxt
  tensorboard/plugins/graph/polymer3/tf_graph_info/demo/index.html
  tensorboard/plugins/graph/polymer3/tf_graph_loader/demo/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_loader/demo/data/graph.pbtxt
  tensorboard/plugins/graph/polymer3/tf_graph_loader/demo/index.html
  tensorboard/plugins/graph/tf_graph/demo/BUILD
  tensorboard/plugins/graph/tf_graph/demo/data/graph.pbtxt
  tensorboard/plugins/graph/tf_graph/demo/index.html
  tensorboard/plugins/graph/tf_graph_app/demo/BUILD
  tensorboard/plugins/graph/tf_graph_app/demo/data/graph.pbtxt
  tensorboard/plugins/graph/tf_graph_app/demo/index.html
  tensorboard/plugins/graph/tf_graph_board/demo/BUILD
  tensorboard/plugins/graph/tf_graph_board/demo/data/graph.pbtxt
  tensorboard/plugins/graph/tf_graph_board/demo/index.html
  tensorboard/plugins/graph/tf_graph_controls/demo/BUILD
  tensorboard/plugins/graph/tf_graph_controls/demo/index.html
  tensorboard/plugins/graph/tf_graph_debugger_data_card/demo/BUILD
  tensorboard/plugins/graph/tf_graph_debugger_data_card/demo/index.html
  tensorboard/plugins/graph/tf_graph_info/demo/BUILD
  tensorboard/plugins/graph/tf_graph_info/demo/data/graph.pbtxt
  tensorboard/plugins/graph/tf_graph_info/demo/index.html
  tensorboard/plugins/graph/tf_graph_loader/demo/BUILD
  tensorboard/plugins/graph/tf_graph_loader/demo/data/graph.pbtxt
  tensorboard/plugins/graph/tf_graph_loader/demo/index.html
  yarn.lock
Labels: cla: yes, plugin:graph, polymer3

#4004 migrate: convert graph to pass internally part 3
  tensorboard/plugins/graph/polymer3/tf_graph/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph/tf-graph-scene.ts
  tensorboard/plugins/graph/polymer3/tf_graph/tf-graph.ts
  tensorboard/plugins/graph/polymer3/tf_graph_board/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_board/tf-graph-board.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_common/annotation.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/common.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/edge.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/graph.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/hierarchy.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/layout.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/loader.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/minimap.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/node.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/render.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/scene.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/template.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/tf-graph-scene.ts
  tensorboard/plugins/graph/polymer3/tf_graph_common/util.ts
  tensorboard/plugins/graph/polymer3/tf_graph_controls/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_controls/tf-graph-controls.ts
  tensorboard/plugins/graph/polymer3/tf_graph_dashboard/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_dashboard/tf-graph-dashboard.ts
  tensorboard/plugins/graph/polymer3/tf_graph_debugger_data_card/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_debugger_data_card/tf-graph-debugger-data-card.ts
  tensorboard/plugins/graph/polymer3/tf_graph_info/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_info/tf-graph-info.ts
  tensorboard/plugins/graph/polymer3/tf_graph_info/tf-node-info.ts
  tensorboard/plugins/graph/polymer3/tf_graph_node_search/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_node_search/tf-graph-node-search.ts
  tensorboard/plugins/graph/polymer3/tf_graph_op_compat_card/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_op_compat_card/tf-graph-op-compat-card.ts
Labels: cla: yes, plugin:graph, polymer3

#4005 migrate: enable the converted graph dashboard part 4
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/plugins/graph/polymer3/tf_graph/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_app/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_board/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_common/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_controls/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_dashboard/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_debugger_data_card/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_info/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_loader/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_node_search/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_op_compat_card/BUILD
Labels: cla: yes, plugin:graph, polymer3

#4011 polymer3: integrate mesh plugin to the migrated code
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
Labels: cla: yes, polymer3

#4014 Fix missing metadata in tbdev getting started notebook.
  docs/tbdev_getting_started.ipynb
Labels: cla: yes

#4015 Clarifies output during `--one_shot` upload.
  tensorboard/uploader/upload_tracker.py
  tensorboard/uploader/uploader.py
  tensorboard/uploader/uploader_test.py
Labels: cla: yes

#4010 Migrate plugins/hparams
  package.json
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer/irons_and_papers.ts
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/plugins/hparams/BUILD
  tensorboard/plugins/hparams/api-pre-polymer3.d.ts
  tensorboard/plugins/hparams/api.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_backend/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_backend/tf-hparams-backend.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_backend/tf-hparams-backend.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_dashboard/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_dashboard/tf-hparams-dashboard.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_dashboard/tf-hparams-dashboard.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_main/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_main/tf-hparams-main.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/axes.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/interaction_manager.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/lines.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/tf-hparams-parallel-coords-plot.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/tf-hparams-parallel-coords-plot.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/utils.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/utils.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/utils.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_view/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_view/tf-hparams-parallel-coords-view.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_view/tf-hparams-parallel-coords-view.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/schema.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/tf-hparams-query-pane.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/tf-hparams-query-pane.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scale_and_color_controls/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_scale_and_color_controls/tf-hparams-scale-and-color-controls.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_scale_and_color_controls/tf-hparams-scale-and-color-controls.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/tf-hparams-scatter-plot-matrix-plot.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/tf-hparams-scatter-plot-matrix-plot.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_view/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_view/tf-hparams-scatter-plot-matrix-view.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_view/tf-hparams-scatter-plot-matrix-view.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/tf-hparams-session-group-details.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/tf-hparams-session-group-details.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_values/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_values/tf-hparams-session-group-values.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_values/tf-hparams-session-group-values.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_sessions_pane/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_sessions_pane/tf-hparams-sessions-pane.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/tf-hparams-table-view.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/tf-hparams-table-view.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/hparams-split-layout.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/tf-hparams-utils.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/tf-hparams-utils.ts
  tensorboard/plugins/hparams/tf_hparams_parallel_coords_plot/BUILD
  yarn.lock
Labels: cla: yes, polymer3

#4016 Revert "Migrate plugins/hparams"
  package.json
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer/irons_and_papers.ts
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/plugins/hparams/BUILD
  tensorboard/plugins/hparams/api.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_backend/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_backend/tf-hparams-backend.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_backend/tf-hparams-backend.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_dashboard/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_dashboard/tf-hparams-dashboard.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_dashboard/tf-hparams-dashboard.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_main/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_main/tf-hparams-main.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/axes.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/interaction_manager.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/lines.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/tf-hparams-parallel-coords-plot.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/tf-hparams-parallel-coords-plot.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/utils.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/utils.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/utils.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_view/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_view/tf-hparams-parallel-coords-view.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_view/tf-hparams-parallel-coords-view.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/schema.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/tf-hparams-query-pane.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/tf-hparams-query-pane.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scale_and_color_controls/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_scale_and_color_controls/tf-hparams-scale-and-color-controls.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_scale_and_color_controls/tf-hparams-scale-and-color-controls.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/tf-hparams-scatter-plot-matrix-plot.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/tf-hparams-scatter-plot-matrix-plot.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_view/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_view/tf-hparams-scatter-plot-matrix-view.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_view/tf-hparams-scatter-plot-matrix-view.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/tf-hparams-session-group-details.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/tf-hparams-session-group-details.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_values/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_values/tf-hparams-session-group-values.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_values/tf-hparams-session-group-values.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_sessions_pane/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_sessions_pane/tf-hparams-sessions-pane.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/tf-hparams-table-view.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/tf-hparams-table-view.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/hparams-split-layout.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/tf-hparams-utils.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/tf-hparams-utils.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/tf-hparams-utils.ts
  tensorboard/plugins/hparams/tf_hparams_parallel_coords_plot/BUILD
  yarn.lock
Labels: cla: yes

#4013 migrate: plugins/pr_curve/polymer3
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/plugins/pr_curve/polymer3/tf_pr_curve_dashboard/BUILD
  tensorboard/plugins/pr_curve/polymer3/tf_pr_curve_dashboard/tf-pr-curve-card.html
  tensorboard/plugins/pr_curve/polymer3/tf_pr_curve_dashboard/tf-pr-curve-card.ts
  tensorboard/plugins/pr_curve/polymer3/tf_pr_curve_dashboard/tf-pr-curve-dashboard.html
  tensorboard/plugins/pr_curve/polymer3/tf_pr_curve_dashboard/tf-pr-curve-dashboard.ts
  tensorboard/plugins/pr_curve/polymer3/tf_pr_curve_dashboard/tf-pr-curve-steps-selector.html
  tensorboard/plugins/pr_curve/polymer3/tf_pr_curve_dashboard/tf-pr-curve-steps-selector.ts
Labels: cla: yes, plugin:pr-curves, polymer3

#4018 polymer3: add hparams dependencies
  package.json
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/components_polymer3/polymer/irons_and_papers.ts
  yarn.lock
Labels: cla: yes, polymer3

#4017 polymer3: add indirection for polymer/lib/legacy/class
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/components_polymer3/polymer/legacy_class.ts
Labels: cla: yes, polymer3

#4022 polymer3: migrate hparams
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/polymer3_lib.ts
  tensorboard/plugins/hparams/polymer3/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_backend/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_backend/tf-hparams-backend.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_backend/tf-hparams-backend.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_dashboard/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_dashboard/tf-hparams-dashboard.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_dashboard/tf-hparams-dashboard.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_main/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_main/tf-hparams-main.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/axes.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/interaction_manager.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/lines.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/tf-hparams-parallel-coords-plot.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/tf-hparams-parallel-coords-plot.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/utils.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/utils.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/utils.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_view/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_view/tf-hparams-parallel-coords-view.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_view/tf-hparams-parallel-coords-view.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/schema.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/tf-hparams-query-pane.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_query_pane/tf-hparams-query-pane.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scale_and_color_controls/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_scale_and_color_controls/tf-hparams-scale-and-color-controls.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_scale_and_color_controls/tf-hparams-scale-and-color-controls.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/tf-hparams-scatter-plot-matrix-plot.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/tf-hparams-scatter-plot-matrix-plot.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_view/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_view/tf-hparams-scatter-plot-matrix-view.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_view/tf-hparams-scatter-plot-matrix-view.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/tf-hparams-session-group-details.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/tf-hparams-session-group-details.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_values/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_values/tf-hparams-session-group-values.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_values/tf-hparams-session-group-values.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_sessions_pane/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_sessions_pane/tf-hparams-sessions-pane.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/tf-hparams-table-view.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/tf-hparams-table-view.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/hparams-split-layout.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/tf-hparams-utils.d.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/tf-hparams-utils.html
  tensorboard/plugins/hparams/polymer3/tf_hparams_utils/tf-hparams-utils.ts
  tensorboard/plugins/hparams/polymer3/types.ts
Labels: cla: yes, plugin:hparams, polymer3

#4019 ng: dispatch changePlugin action when store change
  tensorboard/webapp/core/effects/core_effects.ts
  tensorboard/webapp/core/effects/core_effects_test.ts
Labels: cla: yes

#4025 [nPMI] Fetching all Data at once
  tensorboard/webapp/plugins/npmi/actions/npmi_actions.ts
  tensorboard/webapp/plugins/npmi/data_source/npmi_data_source.ts
  tensorboard/webapp/plugins/npmi/effects/npmi_effects.ts
  tensorboard/webapp/plugins/npmi/effects/npmi_effects_test.ts
  tensorboard/webapp/plugins/npmi/store/npmi_reducers.ts
  tensorboard/webapp/plugins/npmi/store/npmi_reducers_test.ts
  tensorboard/webapp/plugins/npmi/store/npmi_selectors.ts
  tensorboard/webapp/plugins/npmi/store/npmi_selectors_test.ts
  tensorboard/webapp/plugins/npmi/store/npmi_types.ts
  tensorboard/webapp/plugins/npmi/testing/index.ts
Labels: cla: yes, plugin:npmi

#4026 polymer3: fix data location rendering
  tensorboard/components_polymer3/tf_runs_selector/tf-runs-selector.ts
Labels: cla: yes, polymer3

#4028 migrate: fix regressions in hparams table view
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/tf-hparams-session-group-details.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_table_view/tf-hparams-table-view.ts
Labels: cla: yes, plugin:hparams, polymer3

#4027 add 'data:' to font-src CSP
  tensorboard/backend/http_util.py
  tensorboard/backend/http_util_test.py
  tensorboard/backend/security_validator.py
Labels: cla: yes

#4029 polymer3: add web-animations-js shim to Polymer 3
  package.json
  tensorboard/components_polymer3/BUILD
  yarn.lock
Labels: cla: yes

#4033 [Debuggger V1] Remove external reference to the deprecated plugin
  tensorboard/BUILD
  tensorboard/components/tf_tensorboard/BUILD
  tensorboard/components/tf_tensorboard/default-plugins.html
  tensorboard/components_polymer3/tf_tensorboard/BUILD
  tensorboard/components_polymer3/tf_tensorboard/default-plugins.html
  tensorboard/default.py
  tensorboard/plugins/audio/BUILD
  tensorboard/plugins/image/BUILD
Labels: cla: yes, plugin:debugger

#4034 polymer: lock down component visibility
  tensorboard/components/tf_backend/BUILD
  tensorboard/components/tf_dashboard_common/BUILD
  tensorboard/components/tf_imports/BUILD
  tensorboard/components/tf_storage/BUILD
  tensorboard/components/tf_tensorboard/BUILD
  tensorboard/components/vz_chart_helpers/BUILD
  tensorboard/components_polymer3/tf_backend/BUILD
  tensorboard/components_polymer3/tf_dashboard_common/BUILD
  tensorboard/components_polymer3/tf_storage/BUILD
  tensorboard/components_polymer3/tf_tensorboard/BUILD
  tensorboard/components_polymer3/vz_chart_helpers/BUILD
  tensorboard/plugins/graph/tf_graph_board/BUILD
  tensorboard/plugins/graph/tf_graph_common/BUILD
  tensorboard/plugins/graph/tf_graph_loader/BUILD
  tensorboard/plugins/graph/tf_graph_node_search/BUILD
  tensorboard/plugins/hparams/tf_hparams_backend/BUILD
  tensorboard/plugins/hparams/tf_hparams_main/BUILD
Labels: cla: yes, polymer3, type:build/install, type:cleanup

#4035 polymer3: make the polymer 3 entry point the default
  tensorboard/BUILD
  tensorboard/plugins/core/core_plugin.py
  tensorboard/plugins/projector/projector_plugin.py
  tensorboard/webapp/BUILD
  tensorboard/webapp/index.uninlined.html
Labels: cla: yes, polymer3

#4031 Use exec mode instead of host mode for these Python tools
  tensorboard/components/tensor_widget/BUILD
  tensorboard/components_polymer3/polymer/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/BUILD
  tensorboard/plugins/debugger_v2/tf_debugger_v2_plugin/views/inactive/BUILD
Labels: cla: yes

#4038 polymer3: fix profile redirect command
  tensorboard/plugins/profile_redirect/polymer3/tf_profile_redirect_dashboard/tf-profile-redirect-dashboard.ts
Labels: cla: yes

#4037 cleanup: remove the legacy build in the TensorBoard
  tensorboard/BUILD
Labels: cla: yes

#4041 polymer3: remove `readOnly` from initialized props
  tensorboard/components_polymer3/tf_runs_selector/tf-runs-selector.ts
  tensorboard/plugins/graph/polymer3/tf_graph_dashboard/tf-graph-dashboard.ts
  tensorboard/plugins/graph/polymer3/tf_graph_debugger_data_card/tf-graph-debugger-data-card.ts
  tensorboard/plugins/graph/polymer3/tf_graph_node_search/tf-graph-node-search.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_parallel_coords_plot/tf-hparams-parallel-coords-plot.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_scatter_plot_matrix_plot/tf-hparams-scatter-plot-matrix-plot.ts
Labels: cla: yes, core:frontend, plugin:graph, plugin:hparams, polymer3

#4048 readme: remove reference to `backend/application.py`
  README.md
Labels: cla: yes, type:docs

#3859 bug: show warning when pluginId do not match known ids
  tensorboard/webapp/plugins/plugins_component.ng.html
  tensorboard/webapp/plugins/plugins_component.ts
  tensorboard/webapp/plugins/plugins_container.ts
  tensorboard/webapp/plugins/plugins_container_test.ts
Labels: cla: yes

#4045 data-loader-behavior: add fine-grained batching support
  tensorboard/components_polymer3/tf_backend/canceller.ts
  tensorboard/components_polymer3/tf_dashboard_common/data-loader-behavior.ts
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-margin-chart-card.ts
  tensorboard/plugins/custom_scalar/polymer3/tf_custom_scalar_dashboard/tf-custom-scalar-multi-line-chart-card.ts
  tensorboard/plugins/distribution/polymer3/tf_distribution_dashboard/tf-distribution-loader.ts
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/tf-histogram-loader.ts
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/BUILD
  tensorboard/plugins/hparams/polymer3/tf_hparams_session_group_details/tf-hparams-session-group-details.ts
  tensorboard/plugins/pr_curve/polymer3/tf_pr_curve_dashboard/tf-pr-curve-card.ts
  tensorboard/plugins/scalar/polymer3/tf_scalar_dashboard/BUILD
  tensorboard/plugins/scalar/polymer3/tf_scalar_dashboard/tf-scalar-card.ts
Labels: cla: yes, core:frontend, theme:performance

#4051 [nPMI] New State Design
  tensorboard/webapp/BUILD
  tensorboard/webapp/plugins/npmi/actions/npmi_actions.ts
  tensorboard/webapp/plugins/npmi/data_source/BUILD
  tensorboard/webapp/plugins/npmi/data_source/npmi_data_source.ts
  tensorboard/webapp/plugins/npmi/data_source/npmi_data_source_test.ts
  tensorboard/webapp/plugins/npmi/effects/npmi_effects.ts
  tensorboard/webapp/plugins/npmi/effects/npmi_effects_test.ts
  tensorboard/webapp/plugins/npmi/store/npmi_reducers.ts
  tensorboard/webapp/plugins/npmi/store/npmi_reducers_test.ts
  tensorboard/webapp/plugins/npmi/store/npmi_selectors.ts
  tensorboard/webapp/plugins/npmi/store/npmi_selectors_test.ts
  tensorboard/webapp/plugins/npmi/store/npmi_types.ts
  tensorboard/webapp/plugins/npmi/testing/index.ts
  tensorboard/webapp/plugins/npmi/util/metric_type.ts
Labels: cla: yes, plugin:npmi

#4058 doc: add a note that auto-reload is turned off by default
  README.md
Labels: cla: yes

#4057 polymer3: remove test/benchmark build file
  tensorboard/components_polymer3/experimental/plugin_lib/test/BUILD
  tensorboard/components_polymer3/experimental/plugin_util/test/BUILD
  tensorboard/components_polymer3/tf_backend/test/BUILD
  tensorboard/components_polymer3/tf_categorization_utils/test/BUILD
  tensorboard/components_polymer3/tf_color_scale/test/BUILD
  tensorboard/components_polymer3/tf_paginated_view/test/BUILD
  tensorboard/components_polymer3/tf_storage/test/BUILD
  tensorboard/components_polymer3/tf_tensorboard/test/BUILD
  tensorboard/components_polymer3/tf_wbr_string/test/BUILD
  tensorboard/components_polymer3/vz_line_chart2/microbenchmark/BUILD
  tensorboard/components_polymer3/vz_line_chart2/test/BUILD
  tensorboard/components_polymer3/vz_sorting/test/BUILD
  tensorboard/plugins/graph/polymer3/tf_graph_common/test/BUILD
  tensorboard/plugins/histogram/polymer3/tf_histogram_dashboard/test/BUILD
Labels: cla: yes, polymer3

#4050 scalars: multiplex data fetches within a tag
  tensorboard/components_polymer3/tf_backend/requestManager.ts
  tensorboard/plugins/scalar/http_api.md
  tensorboard/plugins/scalar/polymer3/tf_scalar_dashboard/tf-scalar-card.ts
  tensorboard/plugins/scalar/scalars_plugin.py
  tensorboard/plugins/scalar/scalars_plugin_test.py
Labels: cla: yes, plugin:scalars, theme:performance

#4056 polymer3: cleanup vestigial components
  tensorboard/components_polymer3/BUILD
  tensorboard/components_polymer3/tf_option_selector/BUILD
  tensorboard/components_polymer3/tf_option_selector/tf-option-selector.html
  tensorboard/components_polymer3/tf_tensorboard/BUILD
  tensorboard/components_polymer3/tf_tensorboard/autoReloadBehavior.ts
  tensorboard/components_polymer3/tf_tensorboard/default-plugins.html
  tensorboard/components_polymer3/tf_tensorboard/plugin-dialog.html
  tensorboard/components_polymer3/tf_tensorboard/registry.html
  tensorboard/components_polymer3/tf_tensorboard/registry.ts
  tensorboard/components_polymer3/tf_tensorboard/style.html
  tensorboard/components_polymer3/tf_tensorboard/test/autoReloadTests.ts
  tensorboard/components_polymer3/tf_tensorboard/test/tensorboardTests.ts
  tensorboard/components_polymer3/tf_tensorboard/test/tests.html
  tensorboard/components_polymer3/tf_tensorboard/tf-tensorboard.html
  tensorboard/components_polymer3/vz_bar_chart/BUILD
  tensorboard/components_polymer3/vz_bar_chart/vz-bar-chart.html
  tensorboard/components_polymer3/vz_bar_chart/vz-bar-chart.ts
Labels: cla: yes, polymer3

#4053 scalars: commit chart changes in batch
  tensorboard/components_polymer3/tf_line_chart_data_loader/tf-line-chart-data-loader.ts
  tensorboard/plugins/scalar/polymer3/tf_scalar_dashboard/tf-scalar-card.ts
Labels: cla: yes, plugin:scalars, theme:performance

#4060 npmi: add missing `expect_*` Angular deps
  tensorboard/webapp/angular/BUILD
  tensorboard/webapp/plugins/npmi/data_source/BUILD
Labels: cla: yes, type:build/install

#4059 [nPMI] Non-Backend Related State
  tensorboard/webapp/plugins/npmi/actions/npmi_actions.ts
  tensorboard/webapp/plugins/npmi/store/npmi_reducers.ts
  tensorboard/webapp/plugins/npmi/store/npmi_reducers_test.ts
  tensorboard/webapp/plugins/npmi/store/npmi_types.ts
  tensorboard/webapp/plugins/npmi/testing/index.ts
Labels: cla: yes, plugin:npmi

#4075 [nPMI] Added Selectors
  tensorboard/webapp/plugins/npmi/store/npmi_selectors.ts
  tensorboard/webapp/plugins/npmi/store/npmi_selectors_test.ts
Labels: cla: yes, plugin:npmi

#3916 Add hparams to list of launched TensorBoard.dev dashboards
  README.md
Labels: cla: yes

#3906 Include HParams in "Getting started with TensorBoard.dev" colab.
  docs/tbdev_getting_started.ipynb
Labels: cla: yes

#4082 sync: strict_deps and angular deps on npmi
  tensorboard/webapp/angular/BUILD
  tensorboard/webapp/plugins/npmi/BUILD
  tensorboard/webapp/plugins/npmi/views/data_selection/BUILD
  tensorboard/webapp/plugins/npmi/views/data_selection/metric_search/BUILD
Labels: cla: yes

#4089 [nPMI] Fixed Wrong Material Build Dependency
  tensorboard/webapp/plugins/npmi/views/main/BUILD
  tensorboard/webapp/plugins/npmi/views/violin_filters/BUILD
Labels: cla: yes, plugin:npmi

#4092 [infra] updating Travis cache with fetch-only flow (1/3)
  .travis.yml
Labels: cla: yes

#4093 [infra] update Travis cache with built components_polymer3 (part 2)
  .travis.yml
Labels: cla: yes

#4094 [infra] update Travis cache with built webapp/ (part 3)
  .travis.yml
Labels: cla: yes

#4095 [infra] update Travis cache with built tensorboard/ (part 4)
  .travis.yml
Labels: cla: yes

#4096 [infra] update Travis cache with tests (part 5)
  .travis.yml
Labels: cla: yes

#4084 ci: disallow importing directly from angular/material and cdk
  .github/workflows/ci.yml
Labels: cla: yes

#4078 build: upgrade TensorFlow workspace dep to 2.3.0
  .bazelrc
  WORKSPACE
  third_party/workspace.bzl
Labels: cla: yes, type:build/install

#4083 refactor npmi dependency so no one depends on angular directly
  tensorboard/webapp/angular/BUILD
  tensorboard/webapp/plugins/npmi/data_source/BUILD
  tensorboard/webapp/plugins/npmi/data_source/npmi_data_source.ts
  tensorboard/webapp/plugins/npmi/data_source/npmi_data_source_test.ts
  tensorboard/webapp/webapp_data_source/tb_http_client.ts
Labels: cla: yes

#2507 ci: discontinue TensorFlow 1.x environment
  .travis.yml
  tensorboard/util/test_util.py
Labels: cla: yes, type:build/install

#4098 test_util: remove obsolete `run_v2_only` decorator
  tensorboard/plugins/debugger_v2/BUILD
  tensorboard/plugins/debugger_v2/debugger_v2_plugin_test.py
  tensorboard/util/test_util.py
Labels: cla: yes, type:build/install, type:cleanup

#4111 [infra] bump 'virtualenv' dev dependency version
  tensorboard/pip_package/requirements_dev.txt
  tensorboard/pip_package/test_pip_package.sh
Labels: cla: yes
