Repository tensorflow/tensorboard, pull requests merged in 2022-01, with the labels that each got.

#5449 [npmi] Added Embedding Projection Container
  tensorboard/webapp/BUILD
  tensorboard/webapp/plugins/npmi/actions/npmi_actions.ts
  tensorboard/webapp/plugins/npmi/views/embedding_projection/BUILD
  tensorboard/webapp/plugins/npmi/views/embedding_projection/embedding_projection_component.ng.html
  tensorboard/webapp/plugins/npmi/views/embedding_projection/embedding_projection_component.scss
  tensorboard/webapp/plugins/npmi/views/embedding_projection/embedding_projection_component.ts
  tensorboard/webapp/plugins/npmi/views/embedding_projection/embedding_projection_container.ts
  tensorboard/webapp/plugins/npmi/views/embedding_projection/embedding_projection_module.ts
  tensorboard/webapp/plugins/npmi/views/embedding_projection/embedding_projection_test.ts
  tensorboard/webapp/plugins/npmi/views/embeddings/BUILD
  tensorboard/webapp/plugins/npmi/views/embeddings/embeddings_component.ng.html
  tensorboard/webapp/plugins/npmi/views/embeddings/embeddings_component.scss
  tensorboard/webapp/plugins/npmi/views/embeddings/embeddings_module.ts
Labels: cla: yes

#5491 gfile: conditionally import tensorflow_io
  tensorboard/backend/event_processing/BUILD
  tensorboard/backend/event_processing/data_ingester.py
  tensorboard/backend/event_processing/data_ingester_test.py
Labels: core:backend

#5526 backend: remove unnecessary TF dep from event_file_loader_test.py
  tensorboard/backend/event_processing/BUILD
  tensorboard/backend/event_processing/event_file_loader_test.py
Labels: core:backend, type:cleanup

#5527 program: centralize logic for when data server is used
  tensorboard/program.py
  tensorboard/program_test.py
Labels: core:backend, type:cleanup

#5529 backend: implement event file replacement detection
  tensorboard/backend/event_processing/BUILD
  tensorboard/backend/event_processing/event_file_loader.py
  tensorboard/backend/event_processing/event_file_loader_test.py
Labels: core:backend
