Repository tensorflow/tensorboard, pull requests merged in 2022-02, with the labels that each got.

#5543 cleanup: use real mocking for plugin_event_accumulator_test.py
  tensorboard/backend/event_processing/plugin_event_accumulator_test.py
Labels: core:backend, type:cleanup

#5544 cleanup: alphabetize argument order for FakeFlags
  tensorboard/backend/application_test.py
  tensorboard/backend/event_processing/data_ingester_test.py
  tensorboard/plugins/core/core_plugin_test.py
Labels: core:backend, type:cleanup

#5546 core: add --detect_file_replacement flag and plumbing (redo)
  tensorboard/backend/event_processing/data_ingester.py
  tensorboard/backend/event_processing/data_ingester_test.py
  tensorboard/backend/event_processing/plugin_event_accumulator.py
  tensorboard/backend/event_processing/plugin_event_multiplexer.py
  tensorboard/backend/event_processing/plugin_event_multiplexer_test.py
  tensorboard/plugins/core/core_plugin.py
  tensorboard/plugins/core/core_plugin_test.py
  tensorboard/program.py
  tensorboard/program_test.py
Labels: core:backend

#5528 infra: remove dependency on `org_tensorflow`
  .github/workflows/ci.yml
  WORKSPACE
  tensorboard/data/server/BUILD
  tensorboard/data/server/descriptor.bin
  tensorboard/data/server/tensorboard.data.pb.rs
  tensorboard/data/server/tensorboard.pb.rs
  tensorboard/data/server/update_protos.py
  third_party/rust.bzl
  third_party/tensorflow.patch
  third_party/workspace.bzl
Labels: dependencies

#5555 chore: upgrade marked to version 4.0.10
  package.json
  tensorboard/defs/defs.bzl
  tensorboard/defs/internal/js.bzl
  tensorboard/webapp/testing/require_js_karma_config.js
  yarn.lock
Labels: dependencies

#5560 backend: load the lazy-loaded TF module before mocking them
  tensorboard/backend/event_processing/data_ingester_test.py
Labels: core:backend

#5561 infra: set protobuf version to 3.9.2 and downgrade gRPC
  WORKSPACE
  tensorboard/data/server/descriptor.bin
  tensorboard/pip_package/requirements.txt
Labels: dependencies

#5565 docs: Bazel versions on Tomservo and Github CI need to in sync
  WORKSPACE
Labels: type:docs

#5566 docs: update migration guide to include TF2 invocation in TF1 summary APIs
  docs/migrate.ipynb
Labels: type:docs
