Repository tensorflow/tensorboard, pull requests merged in 2022-11, with the labels that each got.

#5998 cleanup: replace namedtuple with dataclass - part 1
  tensorboard/backend/event_processing/event_accumulator.py
  tensorboard/backend/event_processing/event_accumulator_test.py
  tensorboard/backend/event_processing/event_file_inspector.py
  tensorboard/backend/event_processing/plugin_event_accumulator.py
  tensorboard/backend/security_validator.py
  tensorboard/compat/tensorflow_stub/io/gfile.py
  tensorboard/plugins/distribution/compressor.py
  tensorboard/plugins/distribution/compressor_test.py
  tensorboard/plugins/hparams/list_session_groups.py
  tensorboard/plugins/mesh/metadata.py
  tensorboard/plugins/mesh/test_utils.py
  tensorboard/tools/diagnose_tensorboard.py
  tensorboard/tools/mat_bundle_icon_svg_test.py
  tensorboard/tools/whitespace_hygiene_test.py
Labels: core:backend, type:cleanup

#6003 cleanup: replace namedtuple with dataclass - part 2
  tensorboard/manager.py
  tensorboard/manager_test.py
Labels: core:backend, type:cleanup

#6014 Source Metadata: Parse source writer information from the first event of each run
  tensorboard/backend/event_processing/BUILD
  tensorboard/backend/event_processing/event_accumulator.py
  tensorboard/backend/event_processing/event_accumulator_test.py
  tensorboard/backend/event_processing/event_multiplexer.py
  tensorboard/backend/event_processing/event_multiplexer_test.py
  tensorboard/backend/event_processing/event_util.py
  tensorboard/backend/event_processing/event_util_test.py
  tensorboard/backend/event_processing/plugin_event_accumulator.py
  tensorboard/backend/event_processing/plugin_event_accumulator_test.py
  tensorboard/backend/event_processing/plugin_event_multiplexer.py
  tensorboard/backend/event_processing/plugin_event_multiplexer_test.py
Labels: core:backend

#6020 build: export histogram proto declaration in summary proto
  tensorboard/compat/proto/BUILD
  tensorboard/defs/protos.bzl
Labels: type:build/install

#6024 projector: fix controls help dialog button
  tensorboard/plugins/projector/vz_projector/vz-projector.html.ts
  tensorboard/plugins/projector/vz_projector/vz-projector.ts
Labels: plugin:projector

#6023 Source Metadata: cleanup
  tensorboard/backend/event_processing/event_accumulator.py
  tensorboard/backend/event_processing/event_accumulator_test.py
  tensorboard/backend/event_processing/event_multiplexer.py
  tensorboard/backend/event_processing/event_multiplexer_test.py
  tensorboard/backend/event_processing/plugin_event_accumulator.py
  tensorboard/backend/event_processing/plugin_event_accumulator_test.py
  tensorboard/backend/event_processing/plugin_event_multiplexer.py
  tensorboard/backend/event_processing/plugin_event_multiplexer_test.py
Labels: core:backend
